<!doctype html>
<html lang="en">

<!-- Mirrored from iqonic.design/themes/streamitnew/dashboard/html/theme/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 28 Sep 2020 09:56:19 GMT -->
<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>LiveTV - Admin</title>
   <!-- Favicon -->   
   <link rel="shortcut icon" href="https://iqonic.design/themes/streamitnew/dashboard/html/assets/images/favicon.ico" />
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://iqonic.design/themes/streamitnew/dashboard/html/assets/css/bootstrap.min.css">
   <!--datatable CSS -->
   <link rel="stylesheet" href="https://iqonic.design/themes/streamitnew/dashboard/html/assets/css/dataTables.bootstrap4.min.css">
   <!-- Typography CSS -->
   <link rel="stylesheet" href="https://iqonic.design/themes/streamitnew/dashboard/html/assets/css/typography.css">
   <!-- Style CSS -->
   <link rel="stylesheet" href="https://iqonic.design/themes/streamitnew/dashboard/html/assets/css/style.css">
   <!-- Responsive CSS -->
   <link rel="stylesheet" href="https://iqonic.design/themes/streamitnew/dashboard/html/assets/css/responsive.css">
</head>
<body>
   <!-- loader Start -->
   <div id="loading">
      <div id="loading-center">
      </div>
   </div>
   <!-- loader END -->
