<script type="text/javascript" src="/back/assets/scripts/main.d810cf0ae7f39f28f336.js"></script>
<script>
    function clean(obj) {
        for (var prop in obj) { 
            if (obj[prop] === null || obj[prop] === "") {
                delete obj[prop];
            }
        }
    } 
    function displaymsg(text, alertmsg= " alert-danger "){
        window.alert(text)
        // $('#message').html(`
        //         <div style ="color:white" class="alert ${alertmsg} alert-dismissible" role="alert">
        //         <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        //         <strong>Attention ${text}</strong>.
        //         </div>`);
        //         window.scrollTo({
        //         top: 0,
        //         left: 0,
        //         behavior: 'smooth'
        //         })
    }
</script>