<!-- Wrapper Start -->
<div class="wrapper">
<!-- Sidebar-->
 <div class="iq-sidebar">
    <div class="iq-sidebar-logo d-flex justify-content-between">
       <a href="index-2.html" class="header-logo">
          <img src="https://iqonic.design/themes/streamitnew/dashboard/html/assets/images/logo.png" class="img-fluid rounded-normal" alt="">
          <div class="logo-title">
             <span class="text-primary text-uppercase">Streamit</span>
          </div>
       </a>
       <div class="iq-menu-bt-sidebar">
          <div class="iq-menu-bt align-self-center">
             <div class="wrapper-menu">
                <div class="main-circle"><i class="las la-bars"></i></div>
             </div>
          </div>
       </div>
    </div>
    <div id="sidebar-scrollbar">
       <nav class="iq-sidebar-menu">
          <ul id="iq-sidebar-toggle" class="iq-menu">
             <li class=""><a href="/admin/dashboard" class="iq-waves-effect"><i class="las la-home iq-arrow-left"></i><span>Categories</span></a></li>
             <li class=""><a href="/admin/videos" class="iq-waves-effect"><i class="las la-home iq-arrow-left"></i><span>Videos</span></a></li>
             <li class=""><a href="/admin/live_stream" class="iq-waves-effect"><i class="las la-home iq-arrow-left"></i><span>Live Steaming</span></a></li>
             <li class=""><a href="/admin/pre_recorded" class="iq-waves-effect"><i class="las la-home iq-arrow-left"></i><span>Pre Recorded</span></a></li>
          </ul>
       </nav>
    </div>
 </div>