<html>
 <head>
     <body>
        <h4>New Notification!</h4>
        <p>Hello <b>Admin!</b> There's a new request from <b><%= fullName %></b></p>
        <p>Type of request: <b><%= requestType %></b></p>
        <span>FaithTv Team::</span>
     </body>
 </head>
</html>