<%- include('../header'); -%>
 <!-- MainContent -->
 <div id="Main">
    <div class="container">
        <div class="row p-3">

            <div class="col-md-12">
                <div class=" row pb-4">
                    <div class=" col-md-12">
                        <div class=" ">
                            <h3>
                                Originals     
                            </h3>     
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row  ">
                    <div class=" col-sm-6 col-lg-4 pr-0 pl-0">
                        <div>
                            <a href="/vod/watch">
                                <img class=" img-thumbnail" src="https://www.tbnafrica.org/images/static/ondemand-programme-1563806105.jpg" alt="">
                            </a> 
                        </div>
                    </div>

                    <div class=" col-sm-6 col-lg-4 pr-0 pl-0">
                        <div>
                            <a href="/vod/watch">
                                <img class=" img-thumbnail" src="https://www.tbnafrica.org/images/static/ondemand-programme-1534238791.png" alt="">
                            </a>
                        </div>
                    </div>

                    <div class=" col-sm-6 col-lg-4 pr-0 pl-0">
                        <div>
                            <a href="/vod/watch">
                                <img class=" img-thumbnail" src="https://www.tbnafrica.org/images/static/ondemand-programme-1465466099.png" alt="">
                            </a>
                        </div>
                    </div>

                    <div class=" col-sm-6 col-lg-4 pr-0 pl-0">
                        <div>
                            <a href="/vod/watch">
                                <img class=" img-thumbnail" src="https://www.tbnafrica.org/images/static/ondemand-programme-1555075436.jpg" alt="">
                              
                            </a>
                        </div>
                    </div>

                    <div class=" col-sm-6 col-lg-4 pr-0 pl-0">
                        <div>
                            <a href="/vod/watch">
                                <img class=" img-thumbnail" src="https://www.tbnafrica.org/images/static/ondemand-programme-1555074886.jpg" alt="">
                              
                            </a>
                        </div>
                    </div>

                   
                      
                </div>
            </div>
        </div>
        
    </div>
</div>
    
 
 <!-- MainContent End-->
<%- include('../footer'); -%>
<%- include('../js'); -%>
<%- include('../../end'); -%>