<%- include('../header'); -%>
 <!-- MainContent -->
 <div id="Main">
  <div class="container">
             
        <div class="playlist playlist-open">
          <div class="playlist-title">
              Trending                    
            </div>
            <div class="playlist-content">
              <div class="playlist-content--wrap clearfix">
                    <div class="playlist-content--slider">
                      
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-title-cover-1571235520.jpg" alt="">
                                <span class="playlist-content--title">
                                  #11 with Hle Ntombela-Mthethwa                                        
                                </span>
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1573833133.jpg" alt="">
                                <span class="playlist-content--title">
                                  Worship Nights with Dr Tumi #1                                        
                                </span>
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-title-cover-1512565894.jpg" alt="">
                                <span class="playlist-content--title">
                                  #69 with Verona Pillay                                        
                                </span>
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-title-cover-1509353135.jpg" alt="">
                                <span class="playlist-content--title">
                                  #63 with Bongi &amp; Collin                                        
                                </span>
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-title-cover-1495697939.jpg" alt="">
                                <span class="playlist-content--title">
                                  #43 with Matthews Ntlele                                        
                                </span>
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-title-cover-1583788529.jpg" alt="">
                                <span class="playlist-content--title">
                                  #131 with Jessica Dalla Torre                                        
                                </span>
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-title-cover-1551334745.jpg" alt="">
                                <span class="playlist-content--title">
                                  Zuri with Ayanda-Allie Paine #1                                        
                                </span>
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-title-cover-1561389982.jpg" alt="">
                                <span class="playlist-content--title">
                                  #110 with Trevor Subramoney                                        
                                </span>
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-title-cover-1537947228.png" alt="">
                                <span class="playlist-content--title">
                                  #91 with Ps Benjamin Adre&#039;                                        
                                </span>
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-title-cover-1487227040.jpg" alt="">
                                <span class="playlist-content--title">
                                  #33 with Mahalia Buchanan                                        
                                </span>
                            </a>
                        </div>
                        
                    </div>
                </div>
                
                <div class="slider-prev"></div>
                <div class="slider-next"></div>
                
            </div>
        </div>
        

        
      
        <div class="playlist playlist-open">
          <div class="playlist-title">
              <a href="/vod/cat"><i class="material-icons">view_module</i></a>
              Originals                    
            </div>
            <div class="playlist-content">
              <div class="playlist-content--wrap clearfix">
                    <div class="playlist-content--slider">
                      
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1573833133.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1534238791.png" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1465466099.png" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1555075436.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1555074886.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1528387201.png" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525679169.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1562591065.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525701071.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1528106141.png" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525677042.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1527313545.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1496508338.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525701911.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525703011.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1534244849.jpg" alt="">
                                <span class="playlist-content--title">
                                  Hope Found In Lenasia                                        
                                </span>
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1534245071.png" alt="">
                                <span class="playlist-content--title">
                                  Hope Found At Paradise Bend                                        
                                </span>
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1534245234.png" alt="">
                                <span class="playlist-content--title">
                                  Hope Found in Sophiatown                                        
                                </span>
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1534245351.png" alt="">
                                <span class="playlist-content--title">
                                  Hope Found In Windsor                                        
                                </span>
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1563806105.jpg" alt="">
                            </a>
                        </div>
                        
                    </div>
                </div>
                
                <div class="slider-prev"></div>
                <div class="slider-next"></div>
                
            </div>
        </div>
        
      
        <div class="playlist playlist-open">
          <div class="playlist-title">
              <a href="/vod/cat"><i class="material-icons">view_module</i></a>
              Interview                    
            </div>
            <div class="playlist-content">
              <div class="playlist-content--wrap clearfix">
                    <div class="playlist-content--slider">
                      
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1555074886.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1534238791.png" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1479882071.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525772191.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525772565.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525776559.png" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1578094234.png" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1555075436.jpg" alt="">
                            </a>
                        </div>
                        
                    </div>
                </div>
                
                <div class="slider-prev"></div>
                <div class="slider-next"></div>
                
            </div>
        </div>
        
      
        <div class="playlist playlist-open">
          <div class="playlist-title">
              <a href="/vod/cat"><i class="material-icons">view_module</i></a>
              Variety                    
            </div>
            <div class="playlist-content">
              <div class="playlist-content--wrap clearfix">
                    <div class="playlist-content--slider">
                      
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1467107414.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1496045960.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1467300074.png" alt="">
                                <span class="playlist-content--title">
                                  TBN Africa Specials                                        
                                </span>
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1470422490.jpg" alt="">
                                <span class="playlist-content--title">
                                  C·U·M Exclusives                                        
                                </span>
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525772191.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1565017238.jpg" alt="">
                            </a>
                        </div>
                        
                    </div>
                </div>
                
                <div class="slider-prev"></div>
                <div class="slider-next"></div>
                
            </div>
        </div>
        
      
        <div class="playlist playlist-open">
          <div class="playlist-title">
              <a href="/vod/cat"><i class="material-icons">view_module</i></a>
              Hope Found                    
            </div>
            <div class="playlist-content">
              <div class="playlist-content--wrap clearfix">
                    <div class="playlist-content--slider">
                      
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1534245071.png" alt="">
                                <span class="playlist-content--title">
                                  Hope Found At Paradise Bend                                        
                                </span>
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1534245234.png" alt="">
                                <span class="playlist-content--title">
                                  Hope Found in Sophiatown                                        
                                </span>
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1534245351.png" alt="">
                                <span class="playlist-content--title">
                                  Hope Found In Windsor                                        
                                </span>
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1534244849.jpg" alt="">
                                <span class="playlist-content--title">
                                  Hope Found In Lenasia                                        
                                </span>
                            </a>
                        </div>
                        
                    </div>
                </div>
                
                <div class="slider-prev"></div>
                <div class="slider-next"></div>
                
            </div>
        </div>
        
      
        <div class="playlist playlist-open">
          <div class="playlist-title">
              <a href="/vod/cat"><i class="material-icons">view_module</i></a>
              Ministry                    
            </div>
            <div class="playlist-content">
              <div class="playlist-content--wrap clearfix">
                    <div class="playlist-content--slider">
                      
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1468917239.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1528028023.png" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1472893715.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1549268378.png" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1555074886.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525775334.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1479309374.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1562590744.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1472817216.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1472892700.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1478630680.png" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1492527123.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525775816.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1472892403.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1472971577.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1478631012.png" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1472972222.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525776008.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1472972667.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1478631043.png" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1472816347.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1472758817.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1539262319.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1472817476.jpg" alt="">
                            </a>
                        </div>
                        
                    </div>
                </div>
                
                <div class="slider-prev"></div>
                <div class="slider-next"></div>
                
            </div>
        </div>
        
      
        <div class="playlist playlist-open">
          <div class="playlist-title">
              <a href="/vod/cat"><i class="material-icons">view_module</i></a>
              Conferences &amp; Festivals                    
            </div>
            <div class="playlist-content">
              <div class="playlist-content--wrap clearfix">
                    <div class="playlist-content--slider">
                      
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1565702424.png" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1562591065.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1496508338.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1466756008.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525760736.png" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1528106141.png" alt="">
                            </a>
                        </div>
                        
                    </div>
                </div>
                
                <div class="slider-prev"></div>
                <div class="slider-next"></div>
                
            </div>
        </div>
        
      
        <div class="playlist playlist-open">
          <div class="playlist-title">
              <a href="/vod/cat"><i class="material-icons">view_module</i></a>
              Documentaries                    
            </div>
            <div class="playlist-content">
              <div class="playlist-content--wrap clearfix">
                    <div class="playlist-content--slider">
                      
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1565017238.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1577479869.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525701911.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1560259677.png" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525701436.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525703011.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525703891.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525704072.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525702845.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525701770.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525701071.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1549268378.png" alt="">
                            </a>
                        </div>
                        
                    </div>
                </div>
                
                <div class="slider-prev"></div>
                <div class="slider-next"></div>
                
            </div>
        </div>
        
      
        <div class="playlist playlist-open">
          <div class="playlist-title">
              <a href="/vod/cat"><i class="material-icons">view_module</i></a>
              Music                    
            </div>
            <div class="playlist-content">
              <div class="playlist-content--wrap clearfix">
                    <div class="playlist-content--slider">
                      
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1573833133.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525701436.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525704072.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525701770.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1528387201.png" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1496045960.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525703891.jpg" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525760736.png" alt="">
                            </a>
                        </div>
                        
                        <div>
                            <a href="/vod/watch">
                                <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1563806105.jpg" alt="">
                            </a>
                        </div>
                        
                    </div>
                </div>
                
                <div class="slider-prev"></div>
                <div class="slider-next"></div>
                
            </div>
        </div>
        
        
    </div>
</div>
 
 <!-- MainContent End-->
<%- include('../footer'); -%>
<%- include('../js'); -%>
<%- include('../../end'); -%>