<%- include('../header'); -%>
 <!-- MainContent -->
 <div id="Main">
    <div class="container">
        <div class="fsPlayer fsPlayer_1" id="fsPlayer_1">
            <div class="fsPlayer-overlay">
                <div class="fsPlayer-overlay--container">
                    <div class="fsPlayer-overlay--container-panel">
                        <div class="fsPlayer-overlay--container-panel--player">
                            <div class="row">
                                <div class="col-lg-8">
                                    <div class="movie-player">
                                        <div class="vjs-video-container">
                                            <video class="video-js vjs-fluid vjs-16-9 vjs-big-play-centered" controls preload="none" width="640" height="264" poster="https://www.tbnafrica.org/image.php?w=1280&amp;h=720&amp;src=/images/static/ondemand-title-cover-1487227040.jpg" id="fsPlayerVideo_1" playsinline>
                                                <source src="https://player.vimeo.com/external/204307551.m3u8?s=35e3e6e6ca4f7a12aefc7fc805dde4fbe42f8065" type="application/x-mpegURL">
                                                <p class="vjs-no-js"></p>
                                            </video>
                                        </div> <!-- /.video-container -->
                                        
                                        <div class="movie-player--footer">
                                            <em class="fa fa-tags"></em> <a href="../../browse/people/loyiso-bala.html" class="ondemand-tag">Loyiso Bala</a> <a href="../../browse/people/mahalia-buchanan.html" class="ondemand-tag">Mahalia Buchanan</a>                                                 </div>
                                    </div> <!-- /.movie-player -->
                                </div>
                                <div class="col-lg-4">
                                    
                                    <ul class="nav nav-tabs" id="SeriesTabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="series-tab-1" data-toggle="tab" href="#SeriesTab1" role="tab" aria-controls="SeriesTab1" aria-expanded="true">
                                                <em class="fa fa-align-left"></em> Info
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="series-tab-2" data-toggle="tab" href="#SeriesTab2" role="tab" aria-controls="SeriesTab2">Episodes</a>
                                        </li>
                                    </ul>
                                    
                                    <div class="tab-content" id="SeriesTabContent">
                                        <div class="tab-pane fade show active" id="SeriesTab1" role="tabpanel" aria-labelledby="series-tab-1">
                                            
                                            <div class="fsPlayer--title">TBN Meets</div>
                                            <div class="fsPlayer--meta">#33 with Mahalia Buchanan</div>
                                            <div class="fsPlayer--description">Mahalia Buchanan is a well accomplished gospel artist, a gifted vocalist and worship leader. Foremost on the list of her strong musical journey is her contribution to South Africa’s biggest gospel group and global name, Joyous Celebration.</div>
                                            <div class="fsPlayer--series">
                                                Now playing <strong>Season 1</strong>. <br>Also available: <a href="131-with-jessica-dalla-torre.html">Season 5</a><a href="129-with-nick-and-lorna-greyling.html">Season 4</a><a href="94-with-dr-pearl-kupe.html">Season 3</a><a href="69-with-verona-pillay.html">Season 2</a>                                                    </div>
                                            
                                        </div>
                                        
                                        <div class="tab-pane fade" id="SeriesTab2" role="tabpanel" aria-labelledby="series-tab-2">
                                            <div class="fsPlayer--series" style="margin-bottom: 20px;">
                                                Now playing <strong>Season 1</strong>. <br>Also available: <a href="131-with-jessica-dalla-torre.html">Season 5</a><a href="129-with-nick-and-lorna-greyling.html">Season 4</a><a href="94-with-dr-pearl-kupe.html">Season 3</a><a href="69-with-verona-pillay.html">Season 2</a>                                                    </div>
                                            <ul class="series-list">
                                                <li>
                                                    <a href="41-with-enkay-and-chioma-jesus.html">
                                                        #41 with Enkay &amp; Chioma Jesus                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="40-with-charles-nieman.html">
                                                        #40 with Charles Nieman                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="39-with-uche-agu.html">
                                                        #39 with Uche Agu                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="38-with-ray-bevan.html">
                                                        #38 with Ray Bevan                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="37-with-sammie-okposo.html">
                                                        #37 with Sammie Okposo                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="36-with-deron-spoo.html">
                                                        #36 with Deron Spoo                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="35-with-vishal-jetnarayan.html">
                                                        #35 with Vishal Jetnarayan                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="34-with-tafara-butayi.html">
                                                        #34 with Tafara Butayi                                                                
                                                    </a>
                                                </li>
                                                <li class="active">
                                                    <a href="33-with-mahalia-buchanan.html">
                                                        <em class="fa fa-fw fa-play"></em>
                                                        #33 with Mahalia Buchanan                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="32-with-vanessa-goosen.html">
                                                        #32 with Vanessa Goosen                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="31-with-ntimbwe-mpamba.html">
                                                        #31 with Ntimbwe Mpamba                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="30-with-basetsana-kumalo.html">
                                                        #30 with Basetsana Kumalo                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="29-with-lindani-ndwandwa.html">
                                                        #29 with Lindani Ndwandwa                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="28-with-lukas-korff.html">
                                                        #28 with Lukas Korff                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="27-with-mark-counihan.html">
                                                        #27 with Mark Counihan                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="26-with-joe-mettle.html">
                                                        #26 with Joe Mettle                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="25-with-janine-price.html">
                                                        #25 with Janine Price                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="24-with-vashawn-mitchell.html">
                                                        #24 with VaShawn Mitchell                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="23-with-mal-fletcher.html">
                                                        #23 with Mal Fletcher                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="22-with-khaya-mthethwa.html">
                                                        #22 with Khaya Mthethwa                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="21-with-michelle-mckinney-hammond.html">
                                                        #21 with Michelle McKinney Hammond                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="20-with-marilyn-hickey.html">
                                                        #20 with Marilyn Hickey                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="19-with-leon-schoeman.html">
                                                        #19 with Leon Schoeman                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="17-with-tamryn-klintworth.html">
                                                        #17 with Tamryn Klintworth                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="16-with-cynthia-garrett.html">
                                                        #16 with Cynthia Garrett                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="15-with-rorisang-thandekiso.html">
                                                        #15 with Rorisang Thandekiso                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="14-with-pushie-watson.html">
                                                        #14 with Pushie Watson                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="13-with-patrick-duncan.html">
                                                        #13 with Patrick Duncan                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="12-with-dr-tumi.html">
                                                        #12 with Dr. Tumi                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="11-with-jordan-loreal.html">
                                                        #11 with  Jordan L’Oreal                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="10-with-emile-and-razia-samson.html">
                                                        #10 with Emile &amp; Razia Samson                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="9-with-michael-mahendere.html">
                                                        #9 with Michael Mahendere                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="8-with-stacey-speller.html">
                                                        #8 with Stacey Speller                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="7-with-zane-meas.html">
                                                        #7 with Zane Meas                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="6-with-yolande-korkie.html">
                                                        #6 with Yolande Korkie                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="5-with-creflo-dollar.html">
                                                        #5 with Creflo Dollar                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="4-with-benjamin-dube.html">
                                                        #4 with Benjamin Dube                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="3-with-siba-mtongana.html">
                                                        #3 with Siba Mtongana                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="2-with-nqubeko-and-ntokozo-mbatha.html">
                                                        #2 with Nqubeko &amp; Ntokozo Mbatha                                                                
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="1-with-don-moen.html">
                                                        #1 with Don Moen                                                                
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                        
                                    <div class="fsPlayer--controls">
                                        <p><strong>You are currently not logged in</strong>. To benefit from our full VOD offering, please <a href="https://www.tbnafrica.org/mytbn/go/rt-ondemand">login</a> or <a href="https://www.tbnafrica.org/mytbn/register">signup</a> now.</p>
                                        
                                        <a href="https://www.tbnafrica.org/mytbn/go/rt-ondemand" class="highlight-access">
                                            <i class="material-icons">favorite_border</i>
                                            <span>1</span>
                                        </a>
                                        <a href="https://www.tbnafrica.org/mytbn/go/rt-ondemand" class="highlight-access">
                                            <i class="material-icons">playlist_add</i>
                                            <span>Watch Later</span>
                                        </a>
                                        <span class="ctrl-3-x">
                                            <i class="material-icons">video_library</i>
                                            <span>More Like This</span>
                                        </span>

                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                
                        <div class="playlist-more">
                            
                            <div class="playlist playlist-hidden">
                                <div class="playlist-content">
                                    <div class="playlist-content--wrap clearfix">
                                        <div class="playlist-content--slider">
                                            <div>
                                                <a href="../partner-time-in-africa/partner-time-in-africa-207.html">
                                                    <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1465466099.png" alt="">
                                                </a>
                                            </div>
                                            <div>
                                                <a href="../faith-hill-church-with-tafara-butayi/faith-hill-church-with-tafara-butayi-32.html">
                                                    <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525677042.jpg" alt="">
                                                </a>
                                            </div>
                                            <div>
                                                <a href="../remember-that-time/watch-out-for-the-leopards.html">
                                                    <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1525679169.jpg" alt="">
                                                </a>
                                            </div>
                                            <div>
                                                <a href="../holy-ghost-espresso/is-it-really-that-simple.html">
                                                    <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1527313545.jpg" alt="">
                                                </a>
                                            </div>
                                            <div>
                                                <a href="../true-north-with-cjay-janine-and-johan/episode-1.html">
                                                    <img src="https://www.tbnafrica.org/image.php?w=356&amp;h=200&amp;src=/images/static/ondemand-programme-1528387201.png" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="slider-prev"></div>
                                    <div class="slider-next"></div>
                                    
                                </div>
                            </div>
                            
                        </div>
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
 <!-- MainContent End-->
<%- include('../footer'); -%>
<%- include('../js'); -%>
<script src="https://vjs.zencdn.net/7.8.4/video.js"></script>

<script>
    var _play_count = 0;
    var player_x = videojs('fsPlayerVideo_1')//.ready(function() {
        
        player_x.on('ended', function() {
            if (screenfull.enabled) {
                screenfull.exit();
            }
            
            if ($('#cb4').length) {
                if (document.getElementById('cb4').checked) {
                    $('.autoplay .toggle-btn > span.loading').addClass('icu');
                    document.getElementById('cb4').disabled;
                    window.setTimeout(function() {
                        window.location.replace("32-with-vanessa-goosen/autoplay.html");
                    }, 5000); // Wait 5 seconds and load next
                }
            }

        });
        
        player_x.on('play', function() {
            if ($('#SeriesTabs').length) {
                $('#SeriesTabs a[href="#SeriesTab2"]').tab('show');
            }
            
            if (_play_count == 0) {
                /* ADD TO HISTORY */
                _play_count++;
                $.get(siteRoot+'ajax.php', {
                    menu: 'doAnonView', 
                    oid: 3,
                    tid: 289					}, function(data){console.log('289 added to history')});
            }
            
        });
    //});
</script>
<%- include('../../end'); -%>