<%- include('../header'); -%>
<div class="content">
    <div class="container">
      <div class="block">
          <div class="contact-page" id="prayerForm">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="block">
                    <div class="live-audience clearfix">
                        <h2 class="block-title"><span>BECOME</span>  A PROGRAMMER
                        </h2>
                      <p>Thank you for wanting to be a part of the FAITH TO FAITH TV, where viewers experience 
                        the message of faith and inspiring television like never before!</p>
                      <hr />
                      <p>&nbsp;</p>
                          <h4 class = "pb-2">CONTACT DETAILS</h4>
                          <form accept-charset="UTF-8" action="" method="post" class="story-form" role="form">
                              
                          <input type="hidden" value="story" id="formStory" name="form">                  
                          <div class="form-group">
                          <label for="fullname">*Your Full Name</label>
                          <input value="" id="fullname" name="fullname" type="text" class="form-control" placeholder="Your Full Name (Required)">                  
                        </div>
                        
                        <div class="form-group">
                          <label for="email">* Email address</label>
                          <input value="" id="email" name="email" type="email" class="form-control" placeholder="Email Address (Required)">                  
                        </div>
                        
                        <hr />
                        <div class="form-group">
                          <label for="phone">*Phone number</label>
                          <input value="" id="phone" name="phone" type="text" class="form-control" placeholder="Phone Number (Required)">                 
                       </div>
                       <div class="form-group">
                        <label for="location">Location</label>
                        <input value="" id="location" name="location" type="text" class="form-control" placeholder="Location">                 
                     </div>
                       <div class="form-group">
                          <label for="ministry">Minstry Name</label>
                          <input value="" id="ministry" name="ministry" type="text" class="form-control" placeholder="Ministry Name">                 
                       </div> 
                       <div class="form-group">
                          <label for="url">Website URL or Facebook Page</label>
                          <input value="" id="url" name="url" type="tel" class="form-control" placeholder="Website URL">                 
                       </div>
                       <div class="form-group">
                        <label for="web">Program or Ministry Website</label>
                        <input value="" id="web" name="web" type="text" class="form-control" placeholder="Ministry Website">                 
                     </div>
                       <br>
                       <h4 class = "pb-2">PROGRAMME DETAILS</h4>
                       <div class="form-group">
                          <label for="prog_title">*Programme Title</label>
                          <input value="" id="prog_title" name="prog_title" type="text" class="form-control" placeholder="Enter programme title (Required)">                 
                       </div>
                       <div class="form-group">
                          <label for="prog_desc">*Describe your programme</label>
                          <textarea id="prog_desc" name="prog_desc" rows="5" class="form-control" placeholder="Enter your programme synopsis (Required)"></textarea>                  
                      </div>
                      <div class = "form-group">
                          <label for="video">*Video url</label>
                          <input placeholder = "Youtube/Vimeo url" type="text" name = "video" class = "form-control">
                          <span class = "video-text">Most important of all, please enter a YouTube or Vimeo video link of your programme above.</span>
                      </div>
                        <p>
                            <label class="chkBox">
                                <input type="checkbox" value="Y" id="agreePhone" name="agree_phone" class="inputCheckbox" /> 
                                <strong>By using this service i agree to FAITH TO FAITH TV's <a href = "">Terms of Service</a> and privacy policy</strong>
                              </label>
                        </p>
                        <hr />
                        <div>
                          <div class = "form-group">
                              <label class="chkBox">
                                  <span>
                                      <input type="checkbox" value = "Y" class = "inputCheckbox">
                                      <span><strong>I consent to the processing of my personal data by FAITH TO FAITH TV with its registered office Port Harcourt,
                                         Rivers State, Nigeria, in order to provide services available on the site faithtofaithtv.org. I am informed about the right
                                          to the contents of my personal data and can make corrections to it when needed.
                                      </span>
                                  </span>
                              </label>
                          </div>
                            <p><small><i>* Required fields</i></small></p>
                        </div>
                    
                        <div style="text-align: right; margin-top: 10px;">
                          <button class="g-recaptcha btn btn-primary"><em class="fa fa-send"></em> Submit</button>
                        </div>
                        
                        <div class="clearfix"></div>
                      </form>
                   </div>
              
                    <style>
                  
                      #prayerForm hr {
                          height: 1px;
                          background: #E1E1E1;
                          margin: 20px 0;
                      }
                      .chkBox {
                          display: block;
                          font-weight: normal;
                          margin-bottom: 0;
                          padding: 5px;
                          background: #F1F1F1;
                          border-radius: 4px;
                          border: 1px solid #E1E1E1;
                          cursor: pointer;
                      }
                      .chkBox.has-error {
                          background: #da4453;
                          border: #da4453;
                          color: #FFF;
                      }
                      .chkBox > input {
                          float: left;
                          margin-right: 10px;
                      }
                      .chkBox > small {
                          display: block;
                          padding: 7px 0 0 23px;
                      }
              
              </style>
                </div> 
              </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <address>
                    <h5>FAITH STATEMENT</h5>
                  <div class="lrg"></div>
                  <div class="lrg nowrap" id="e2"></div>
                  <p>
                      TBN Africa is based on Christian morals and principles and its content cannot 
                      contradict what we stand for and bring our faith into disrepute. It is therefore imperative
                       that all our content be in line with TBN's Faith Statement and should adhere to our Broadcasting code of conduct as follows:
                   </p>
                   <div class = "prog-form-items">
                      <ul>
                       <li>We believe that the Holy Bible is the inspired, infallible, 
                          and authoritative source of Christian doctrine and precept.
                      </li>
                      <li>
                          We believe that there is one God, eternally existent in three persons: Father, Son and Holy Spirit.
                      </li>
                      <li>
                          We believe that the only hope for man is to believe in Jesus Christ, the virgin-born Son of God, 
                          who died to take upon Himself the punishment for the sin of mankind, 
                          and Who rose from the dead, so that by receiving Him as Saviour and Lord, man is redeemed by His Blood.
                      </li>
                      <li>
                          We believe that Jesus Christ in person will return to earth in power and glory.
                      </li>
                      <li>
                          We believe that the Holy Spirit indwells those who have received Christ for the purpose of 
                          enabling them to live righteous and godly lives.
                      </li>
                      </ul>
                   </div>
                </address>
              </div> <!-- /.col -->
            </div> <!-- /.row -->
          </div> <!-- /.contact -->
        </div> <!-- /.block -->

      <hr>
      <div class="sharethis-inline-share-buttons"></div>

    </div> <!-- /.block -->
    </div>


<%- include('../footer'); -%>
<%- include('../js'); -%>
<%- include('../../end'); -%>