<%- include('../header'); -%>

<div class="content">
    <div class="container">
        <div class="block">
      <div class="contact-page" id="formSubmit">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
            <h3 class="block-title"><span>Contact</span> Us</h3>
            <address>
              <div><em class="fa fa-fw fa-phone"></em> +44 (0) 208 208 5688</div>
              <div><em class="fa fa-fw fa-fax"></em> 0866027150</div>
              <hr>
              <div class="addr clearfix"><em class="fa fa-fw fa-envelope-o"></em> <div>FAITH TO FAITH<br />
                Private Bag X343<br />
                Cresta, Johannesburg<br />
                2118, South Africa</div></div>
                        <hr>
                        <div class="addr clearfix"><em class="fa fa-fw fa-map-marker"></em> <div>Cnr Rabie and Hans Schoeman Streets <br />
                        Randpark Ridge, Randburg, South Africa</div></div>
                        </address>
            
            <address>
              <h5>EMAIL a Prayer Partner</h5>
              <!--<div><em class="fa fa-fw fa-phone"></em> WhatsApp +27 (0) 62 282 8583</div>-->
              <div class="nowrap" id="e2"><em class="fa fa-fw fa-spinner fa-spin"></em></div>
            </address>
            
            <address>
              <h5>Partner Time / Faith to Faith Meets</h5>
              <div class="nowrap" id="e4"><em class="fa fa-fw fa-spinner fa-spin"></em></div>
            </address>
            
            <hr>
            
          </div> <!-- /.col -->
            <div class="col-xs-12 col-sm-6 col-md-8">
            <div class="map">
                <h3 class="block-title"><span>Find</span> Us</h3>
              <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3975.74308074866!2d6.985301350845376!3d4.81411794198572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1069cf108411562d%3A0x3a3d1549c3c0e6a5!2sRenaissance%20Assembly%20Inc.!5e0!3m2!1sen!2sng!4v1604595762740!5m2!1sen!2sng" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div> <!-- /.map -->
            <hr>
          </div> <!-- /.col -->
        </div> <!-- /.row -->
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <address>
              <h5>FAITH TO FAITH</h5>
              <div class="nowrap"><a href="mailto:info@tbnuk.org"><em class="fa fa-fw fa-envelope"></em> info@tbnuk.org</a></div>
              <div><a href="http://www.tbnuk.org/" rel="external"><em class="fa fa-fw fa-external-link"></em> tbnuk.org</a></div>
            </address>
          </div> <!-- /.col -->
          <div class="col-xs-12 col-sm-4">
            <address>
              <h5>FAITH TO FAITH</h5>
              <div class="nowrap"><a href="mailto:info@tbn.org"><em class="fa fa-fw fa-envelope"></em> info@tbn.org</a></div>
              <div><a href="http://www.tbn.org/" rel="external"><em class="fa fa-fw fa-external-link"></em> tbn.org</a></div>
            </address>
          </div> <!-- /.col -->
          <div class="col-xs-12 col-sm-4">
            <address>
              <h5>FAITH TO FAITH</h5>
              <div class="nowrap"><a href="mailto:info@itbn.org"><em class="fa fa-fw fa-envelope"></em> info@itbn.org</a></div>
              <div><a href="http://www.itbn.org/" rel="external"><em class="fa fa-fw fa-external-link"></em> itbn.org</a></div>
            </address>
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.contact -->
    </div> <!-- /.block -->
          
      </div> <!-- /.container -->
    </div> <!-- /.content -->

<%- include('../footer'); -%>
<%- include('../js'); -%>
<%- include('../../end'); -%>