<%- include('../header'); -%>
<div class="content">
    <div class="container">
              <!-- // SCHEDULE DAY VIEW // -->
              <div class="dayview">
                  <div class="row">
                      <div class="col-sm-6 col-md-7">
                          <div class="programming">
                              <div class="head">
                                  <div class="row">
                                      <div class="col-xs-8">
                                          <h2>Sun 1 November</h2>
                                      </div> <!-- /.col -->
                                      <div class="col-xs-4">
                                          <div class="text-right">
                                              <input type="hidden" id="DtValue">
                                              <button class="btn btn-warning" id="DtPicker">
                                                  <em class="fa fa-calendar"></em>
                                              </button>
                                          </div> <!-- /.text -->
                                      </div> <!-- /.col -->
                                  </div> <!-- /.row -->

                                  <script src="https://www.tbnafrica.org/webadmin/js/jquery-ui.min.js"></script>
                                  <link rel="stylesheet" href="https://www.tbnafrica.org/webadmin/css/jquery-ui.css">
                                  <script>
                                      $.widget.bridge('uibutton', $.ui.button);
                                      $.widget.bridge('uitooltip', $.ui.tooltip);
                                      $(function()
                                      {
                                          $('#DtValue').datepicker({
                                            dateFormat: 'yy-mm-dd',
                                            minDate: 0, 
                                            maxDate: '2020-11-01',
                                            changeMonth: true,
                                            onClose: function( selectedDate ) {
                                              window.location = siteRoot + 'schedule/dayview/' + selectedDate;
                                            }
                                          });
                                          
                                          $('#DtPicker').click(function(){
                                              $("#DtValue").datepicker( "show" );
                                          });
                                      });
                                  </script>
                              </div> <!-- /.head -->
                              <ul>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">12AM</span>
                                          <span class="category">Regulars</span>
                                          <em class="fa fa-retweet"></em>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                          <a href="">Breakforth with Andrew Osakwe</a>                                            
                                        </h3>
                                          <div class="synopsis">Committed to spreading the message of the new covenant and God&#039;s kingdom across the globe, mobilizing the body of Christ to rise up, take over the &quot;kingdoms of this world&quot; 
                                              and prepare itself for the return of our Lord Jesus Christ.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">12:30AM</span>
                                          <span class="category">Regulars</span>
                                          <em class="fa fa-retweet"></em>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                            <a href="">A New Dawn - Kya Masango</a>                                           
                                         </h3>
                                          <div class="synopsis">The Ministry is a microcosm of the glorious Church of Jesus Christ and a community of believers joined by our fervent 
                                              love for God and for our fellowman. We love to worship and praise the Lord in the beauty of His holiness and as a lifestyle.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">1AM</span>
                                          <span class="category">Regulars</span>
                                          <em class="fa fa-retweet"></em>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                            <a href="">Your Miracle Moment with Siva Moodley</a>                                            
                                        </h3>
                                          <div class="synopsis">Join Pastors Siva &amp; Jessie Moodley for an encounter with God&#039;s Glory, Signs &amp; Wonders and prophetic revelation of God&#039;s Word. Your life will never be the same again. This is your miracle moment.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">1:30AM</span>
                                          <span class="category">Regulars</span>
                                          <em class="fa fa-retweet"></em>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                        <a href="">Experiencing The Blessing with Kenny Mokoena</a>                                            
                                    </h3>
                                          <div class="synopsis">In this program Pastor Kenny Mokoena focuses on proclaiming Jesus and unveiling the mystery of the Christ in us. 
                                              He encourages believers to experience the goodness of the Lord every moment of everyday.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">2AM</span>
                                          <span class="category">Regulars</span>
                                          <em class="fa fa-retweet"></em>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                            <a href="">Church on the Line</a>                                            
                                        </h3>
                                          <div class="synopsis">A talk-show with Phil Dooley &amp; Mahlatse Mashua featuring various in-studio guests on current topics &amp; the opportunity Christians have to bring hope to an uncertain world.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">2:30AM</span>
                                          <span class="category">Regulars</span>
                                          <em class="fa fa-retweet"></em>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                            <a href="">Phaneroo with Grace Lubega</a>                                           
                                         </h3>
                                          <div class="synopsis">Phaneroo is a dynamic, life transforming and generational impacting ministry with a vision to transform nations and the entire world with the word of God. The Greek word ‘Phaneroo’ is translated as bringing to manifestation that which existed but is not seen.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li class="on">
                                      <div class="timeslot">
                                          <span class="time">3AM</span>
                                          <span class="category">Regulars</span>
                                          <em class="fa fa-retweet"></em>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                              <em class="fa fa-play"></em> 
                                              <a href="">Happy Families with Gabriel Moodley</a>                                           
                                             </h3>
                                          <div class="synopsis">Dr. Gabriel teaches you how to manage and overcome challenges in your family life through the word of God.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">3:30AM</span>
                                          <span class="category">Regulars</span>
                                          <em class="fa fa-retweet"></em>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                            <a href="">The Spirit Of Prayer with Clive Gopaul</a>                                           
                                         </h3>
                                          <div class="synopsis">A dynamic leader and visionary who serves as the Senior Pastor of Conquering through Prayer Ministries. He is a leading and influential voice both nationally and internationally. He is known for his practical approach to prayer.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">4AM</span>
                                          <span class="category">Regulars</span>
                                          <em class="fa fa-retweet"></em>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                            <a href="">Christ For All Nations with Daniel Kolenda</a>                                            
                                        </h3>
                                          <div class="synopsis">CfaN is a non-denominational missions organization. The aim of the ministry is to fulfill the Great Commission by taking the Gospel message 
                                              to the world. Christ for all Nations is primarily known for it&#039;s historic crusades in Africa.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">11:30PM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                            <a href="">The Vision Guided Life with Kay &amp; Olu Taiwo</a>                                            </h3>
                                          <div class="synopsis">Kay &amp; Olu Taiwo give you keys to a transformed life through vision, identity and purpose.</div>
                                      </div> <!-- /.program -->
                                  </li>
                              </ul>
                          </div> <!-- /.programming -->
                      </div> <!-- /.col -->
                      <div class="col-sm-6 col-md-5">
                          <div class="highlights">
                              <div class="now">
                                  <img src="/front/image/Hour-of-Power2410.jpg" class="img-responsive" alt="Happy Families with Gabriel Moodley">
                                  <h3 class="title">Now Showing</h3>
                                  <div class="overlay">
                                      <div class="timeslot">
                                          <span class="time">3AM</span>
                                          <span class="category">Regulars</span>
                                          <em class="fa fa-retweet"></em>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>Happy Families with Gabriel Moodley</h3>
                                          <div class="synopsis">Dr. Gabriel teaches you how to manage and overcome challenges in your family life through the word of God.</div>
                                      </div> <!-- /.program -->
                                  </div> <!-- /.overlay -->
                              </div> <!-- /.now -->
                              
                              <div class="highlight">
                                  <div id="carousel-daily-highlight" class="carousel slide" data-ride="carousel" data-interval="5500">
                                      <div class="carousel-inner" role="listbox">
                                          <div class="item active">
                                              <img src="/front/image/Joel-Osteen3925.jpg" alt="CHOOSE LIFE with John Roebert">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">5:30AM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>CHOOSE LIFE with John Roebert</h3>
                                                      <div class="synopsis">Pastor John and Mandri Roebert lead CHOOSE LIFE Church in Pretoria, South Africa. A church with a passion for the Holy Spirit, Worship, and God's Word. Our motto: Helping People Know Jesus.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="/front/image/Joseph-Princea8dc.jpg" alt="Keerpunt - Dirkie van der Spuy">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">7AM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>Keerpunt - Dirkie van der Spuy</h3>
                                                      <div class="synopsis">If you want to know the bible better, grow Spiritually and be a true disciple of Jesus, listen to the message that Rev. Dirkie van der Spuy teaches us today. </div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                      </div> <!-- /.carousel-inner -->
                                      <a class="left carousel-control" href="#carousel-daily-highlight" role="button" data-slide="prev">
                                          <span class="fa fa-chevron-left" aria-hidden="true"></span>
                                          <span class="sr-only">Previous</span>
                                      </a>
                                      <a class="right carousel-control" href="#carousel-daily-highlight" role="button" data-slide="next">
                                          <span class="fa fa-chevron-right" aria-hidden="true"></span>
                                          <span class="sr-only">Next</span>
                                      </a>
                                  </div> <!-- /.carousel -->
                                  <h3 class="title">highlights</h3>
                              </div> <!-- /.highlight -->
                          </div> <!-- /.highlights -->
                      </div> <!-- /.col -->
                  </div> <!-- /.row -->
              </div> <!-- /.dayview -->
            <hr>
      <div class="sharethis-inline-share-buttons"></div>
  
  </div> <!-- /.container -->
</div> <!-- /.content -->

<%- include('../footer'); -%>
<%- include('../js'); -%>
<%- include('../../end'); -%>