<%- include('../header'); -%>


<div class="content">
    <div class="container">
    

              <!-- // SCHEDULE DAY VIEW // -->
              <div class="dayview">
                  <div class="row">
                      <div class="col-sm-6 col-md-7">
                          <div class="programming">
                              <div class="head">
                                  <div class="row">
                                      <div class="col-xs-8">
                                          <h2>Sun 1 November</h2>
                                      </div> <!-- /.col -->
                                      <div class="col-xs-4">
                                          <div class="text-right">
                                              <input type="hidden" id="DtValue">
                                              <button class="btn btn-warning" id="DtPicker">
                                                  <em class="fa fa-calendar"></em>
                                              </button>
                                          </div> <!-- /.text -->
                                      </div> <!-- /.col -->
                                  </div> <!-- /.row -->

                                  <script src="https://www.tbnafrica.org/webadmin/js/jquery-ui.min.js"></script>
                                  <link rel="stylesheet" href="https://www.tbnafrica.org/webadmin/css/jquery-ui.css">
                                  <script>
                                      $.widget.bridge('uibutton', $.ui.button);
                                      $.widget.bridge('uitooltip', $.ui.tooltip);
                                      $(function()
                                      {
                                          $('#DtValue').datepicker({
                                            dateFormat: 'yy-mm-dd',
                                            minDate: 0, 
                                            maxDate: '2020-11-01',
                                            changeMonth: true,
                                            onClose: function( selectedDate ) {
                                              window.location = siteRoot + 'schedule/dayview/' + selectedDate;
                                            }
                                          });
                                          
                                          $('#DtPicker').click(function(){
                                              $("#DtValue").datepicker( "show" );
                                          });
                                      });
                                  </script>
                              </div> <!-- /.head -->
                              <ul>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">12AM</span>
                                          <span class="category">Regulars</span>
                                          <em class="fa fa-retweet"></em>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/breakforth-with-andrew-osakwe">Breakforth with Andrew Osakwe</a>                                            </h3>
                                          <div class="synopsis">Committed to spreading the message of the new covenant and God&#039;s kingdom across the globe, mobilizing the body of Christ to rise up, take over the &quot;kingdoms of this world&quot; and prepare itself for the return of our Lord Jesus Christ.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">12:30AM</span>
                                          <span class="category">Regulars</span>
                                          <em class="fa fa-retweet"></em>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/a-new-dawn-kya-masango">A New Dawn - Kya Masango</a>                                            </h3>
                                          <div class="synopsis">The Ministry is a microcosm of the glorious Church of Jesus Christ and a community of believers joined by our fervent love for God and for our fellowman. We love to worship and praise the Lord in the beauty of His holiness and as a lifestyle.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">1AM</span>
                                          <span class="category">Regulars</span>
                                          <em class="fa fa-retweet"></em>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/your-miracle-moment-with-siva-moodley">Your Miracle Moment with Siva Moodley</a>                                            </h3>
                                          <div class="synopsis">Join Pastors Siva &amp; Jessie Moodley for an encounter with God&#039;s Glory, Signs &amp; Wonders and prophetic revelation of God&#039;s Word. Your life will never be the same again. This is your miracle moment.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">1:30AM</span>
                                          <span class="category">Regulars</span>
                                          <em class="fa fa-retweet"></em>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/experiencing-the-blessing-with-kenny-mokoena">Experiencing The Blessing with Kenny Mokoena</a>                                            </h3>
                                          <div class="synopsis">In this program Pastor Kenny Mokoena focuses on proclaiming Jesus and unveiling the mystery of the Christ in us. He encourages believers to experience the goodness of the Lord every moment of everyday.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">2AM</span>
                                          <span class="category">Regulars</span>
                                          <em class="fa fa-retweet"></em>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/church-on-the-line">Church on the Line</a>                                            </h3>
                                          <div class="synopsis">A talk-show with Phil Dooley &amp; Mahlatse Mashua featuring various in-studio guests on current topics &amp; the opportunity Christians have to bring hope to an uncertain world.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">2:30AM</span>
                                          <span class="category">Regulars</span>
                                          <em class="fa fa-retweet"></em>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/phaneroo-with-grace-lubega">Phaneroo with Grace Lubega</a>                                            </h3>
                                          <div class="synopsis">Phaneroo is a dynamic, life transforming and generational impacting ministry with a vision to transform nations and the entire world with the word of God. The Greek word ‘Phaneroo’ is translated as bringing to manifestation that which existed but is not seen.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li class="on">
                                      <div class="timeslot">
                                          <span class="time">3AM</span>
                                          <span class="category">Regulars</span>
                                          <em class="fa fa-retweet"></em>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                              <em class="fa fa-play"></em>                                            	<a href="https://www.tbnafrica.org/schedule/programme/happy-families-with-gabriel-moodley">Happy Families with Gabriel Moodley</a>                                            </h3>
                                          <div class="synopsis">Dr. Gabriel teaches you how to manage and overcome challenges in your family life through the word of God.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">3:30AM</span>
                                          <span class="category">Regulars</span>
                                          <em class="fa fa-retweet"></em>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/the-spirit-of-prayer-with-clive-gopaul">The Spirit Of Prayer with Clive Gopaul</a>                                            </h3>
                                          <div class="synopsis">A dynamic leader and visionary who serves as the Senior Pastor of Conquering through Prayer Ministries. He is a leading and influential voice both nationally and internationally. He is known for his practical approach to prayer.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">4AM</span>
                                          <span class="category">Regulars</span>
                                          <em class="fa fa-retweet"></em>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/christ-for-all-nations-with-daniel-kolenda">Christ For All Nations with Daniel Kolenda</a>                                            </h3>
                                          <div class="synopsis">CfaN is a non-denominational missions organization. The aim of the ministry is to fulfill the Great Commission by taking the Gospel message to the world. Christ for all Nations is primarily known for it&#039;s historic crusades in Africa.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">4:30AM</span>
                                          <span class="category">Regulars</span>
                                          <em class="fa fa-retweet"></em>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/xihlovo-with-mosa-sono">Xihlovo with Mosa Sono</a>                                            </h3>
                                          <div class="synopsis">Bishop Sono's calling and passion is to win people to Christ, bring believers into full maturity of their walk with God, train, raise and mentor leaders in the church, corporate sector and in the community at large.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">5AM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/tbn-play">TBN Play</a>                                            </h3>
                                          <div class="synopsis">Variety of Top Local and International Music Video&#039;s from the best Christian Artists around.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">5:30AM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/choose-life-with-john-roebert">CHOOSE LIFE with John Roebert</a>                                            </h3>
                                          <div class="synopsis">Pastor John and Mandri Roebert lead CHOOSE LIFE Church in Pretoria, South Africa. A church with a passion for the Holy Spirit, Worship, and God's Word. Our motto: Helping People Know Jesus.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">6AM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/robert-morris-ministries">Robert Morris Ministries</a>                                            </h3>
                                          <div class="synopsis">The Blessed Life is a half-hour program featuring insightful teaching from Robert Morris, Founder of Gateway Church, and dynamic worship with the Gateway Worship team. Gateway Church is a evangelistic, Spirit-empowered church.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">6:30AM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/overcomer-with-joel-osteen">Overcomer with Joel Osteen</a>                                            </h3>
                                          <div class="synopsis">Joel and Victoria Osteen's message of unconditional love and unending hope is reaching out to millions of people around the world. A leading voice for a new generation of ministry leaders that believe with God all things are possible.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">7AM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/keerpunt-dirkie-van-der-spuy">Keerpunt - Dirkie van der Spuy</a>                                            </h3>
                                          <div class="synopsis">If you want to know the bible better, grow Spiritually and be a true disciple of Jesus, listen to the message that Rev. Dirkie van der Spuy teaches us today. </div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">7:30AM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/your-miracle-moment-with-siva-moodley">Your Miracle Moment with Siva Moodley</a>                                            </h3>
                                          <div class="synopsis">Join Pastors Siva &amp; Jessie Moodley for an encounter with God&#039;s Glory, Signs &amp; Wonders and prophetic revelation of God&#039;s Word. Your life will never be the same again. This is your miracle moment.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">8AM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/taffi-talks">Taffi Talks</a>                                            </h3>
                                          <div class="synopsis">To Propel and Ignite entrepreneurial endeavors amongst women.“Taffi Talks” is an intimate conversation with women of influence from various industries, ethnicities, and walks of life providing them with inspiration to propel them in their entrepreneurial endeavors.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">8:30AM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/crc-live-with-pastor-at-boshoff">CRC LIVE with Pastor At Boshoff</a>                                            </h3>
                                          <div class="synopsis">Win the lost at any cost! This is the powerful motto of Christian Revival Church. Every endeavour is launched with the motto in mind, and evaluated on the grounds of how people are won effectively for Christ.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">9:30AM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/elevation-with-steven-furtick">Elevation with Steven Furtick</a>                                            </h3>
                                          <div class="synopsis">The Elevation Experience, with Pastor Steven Furtick, focuses on the strength of God in our everyday struggles.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">10AM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/joseph-prince-ministries">Joseph Prince Ministries</a>                                            </h3>
                                          <div class="synopsis">Joseph Prince is a leading voice in proclaiming the gospel of grace. Pastor Joseph leads New Creation Church in Singapore, with a congregation that has grown from around 150 to more than 31,000.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">10:30AM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/brian-houston-at-hillsong-tv">Brian Houston @ Hillsong TV</a>                                            </h3>
                                          <div class="synopsis">Pastor Brian's messages are empowering, passionate and practical for everyday life; his teaching will inspire you with the hope, joy, meaning and purpose that can be found in a personal and loving God. Recorded in Sydney, Australia.
</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">11AM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/rhema-hour">Rhema Hour</a>                                            </h3>
                                          <div class="synopsis">An exciting time with the Rhema Bible Church, with vibrant worship, and an inspiring word.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">12PM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/living-life-with-theo-wolmarans">Living Life with Theo Wolmarans</a>                                            </h3>
                                          <div class="synopsis">Theo and Beverley Wolmarans wants to bring people into the family of Jesus Christ, develop them into Christian maturity and equip them for their ministry in the church in order to magnify God and His Holy Name.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">12:30PM</span>
                                          <span class="category">Regulars</span>
                                          <em class="fa fa-retweet"></em>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/beyond-blessed-with-robert-morris">Beyond Blessed with Robert Morris</a>                                            </h3>
                                          <div class="synopsis">Robert Morris uses Biblical teachings to emphasise why we should be good financial stewards &amp; offers Biblical principles on how to reach financial goals &amp; abundant living.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">1PM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/everyday-answers-with-joyce-meyer">Everyday Answers with Joyce Meyer</a>                                            </h3>
                                          <div class="synopsis">Joyce is now taking your questions for her new show Everyday Answers with Joyce Meyer. We want to put a face with the questions, so upload a photo of yourself holding your question and post it on your account using #AskJoyce.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">1:30PM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/spirit-contemporary-with-leon-fontaine">Spirit Contemporary with Leon Fontaine</a>                                            </h3>
                                          <div class="synopsis">Leon challenges all believers to be Spirit Contemporary through thought-provoking and practical teachings. If we learn to understand, and hear the Holy Spirit in everyday life we have the power to influence this world like never before.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">2PM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/empowered-in-christ">Empowered In Christ</a>                                            </h3>
                                          <div class="synopsis">Join host Daniel Gelyana as he teaches on the power of healing through Jesus Christ.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">2:30PM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/word-and-spirit-with-rt-kendall">Word &amp; Spirit with RT Kendall</a>                                            </h3>
                                          <div class="synopsis">Join RT Kendall for his message is to rediscover the power that was manifested in the Book of Acts, a demonstration of signs, wonders and miracles; a need to see the gifts of the Spirit operating in the church.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">3PM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/living-by-the-answer-with-olusola-areogun">Living By The Answer with Olusola Areogun</a>                                            </h3>
                                          <div class="synopsis">The teaching ministry of the Dream Centre of the Life Oasis International Church. Each believer is taught how to operate in the life of God and become an oasis in the deserts of life.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">3:30PM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/life-in-the-word-with-chuks-ozabor">Life In The Word with Chuks Ozabor</a>                                            </h3>
                                          <div class="synopsis">GraceHouse Family Church: where the word of Faith is preached and Biblical truths are presented to you in a simple and life- changing manner.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">4PM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/partner-time">Partner Time</a>                                            </h3>
                                          <div class="synopsis">Join Managing Director, Lucky Mbiko, as he shares the vision of TBN Africa and updates viewers of what is happening behind the scenes and how they can partner and make an impact in the continent of Africa and across the world.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">4:30PM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/christ-for-all-nations-with-daniel-kolenda">Christ For All Nations with Daniel Kolenda</a>                                            </h3>
                                          <div class="synopsis">CfaN is a non-denominational missions organization. The aim of the ministry is to fulfill the Great Commission by taking the Gospel message to the world. Christ for all Nations is primarily known for it&#039;s historic crusades in Africa.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">5PM</span>
                                          <span class="category">TBN Select</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/rivers-church-online">Rivers Church Online</a>                                            </h3>
                                          <div class="synopsis">Join us for Sunday services from Rivers Church, Sandton.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">6PM</span>
                                          <span class="category">Series</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/restoring-the-shack-with-paul-young">Restoring The Shack with Paul Young</a>                                            </h3>
                                          <div class="synopsis">Join author Paul Young on this inside look at how his own life’s journey shaped his writing and explors questions about faith, grief, wonder and relationship with the Father, Son and Holy Spirit.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">6:30PM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/worship-with-the-binions-and-friends">Worship with The Binions &amp; Friends</a>                                            </h3>
                                          <div class="synopsis">David &amp; Nicole Binion host dynamic nights of worship featuring top gospel artists. Join these live music collaborations, only found right here, on TBN.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">7PM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/xihlovo-with-mosa-sono">Xihlovo with Mosa Sono</a>                                            </h3>
                                          <div class="synopsis">Bishop Sono's calling and passion is to win people to Christ, bring believers into full maturity of their walk with God, train, raise and mentor leaders in the church, corporate sector and in the community at large.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">7:30PM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/hope-alive-chris-mathebula">Hope Alive - Chris Mathebula</a>                                            </h3>
                                          <div class="synopsis">Hope Restoration Ministries  is a Relevant, Relating and Restoring ministry. Join Pastor SC Mathebula as he draws from  a Reservoir of Hope to restore Hope to the hopeless.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">8PM</span>
                                          <span class="category">Movies</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/i-flunked-sunday-school">I Flunked Sunday School</a>                                            </h3>
                                          <div class="synopsis">Lloyd Boyd is a personal preacher who stumbles and bumbles into people's lives, trying to help them sort through their personal problems.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">10PM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/recipes-for-greatness-with-godman-akinlabi">Recipes For Greatness with Godman Akinlabi</a>                                            </h3>
                                          <div class="synopsis">Godman Akinlabi has a God-given mandate to Make Greatness Common. He has taught and inspired people around the world. He is particularly driven to speak about the role of the church in the development of the African continent.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">10:30PM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/true-kingdom-live-with-apostle-george">True Kingdom Live with Apostle George</a>                                            </h3>
                                          <div class="synopsis">We’re taking Christians back to the Bible and providing a holistic system of spiritual empowerment through Teach, Train, Equip, Activate and Release principles. We proclaim the whole Word, turning every believer into a Disciple of Jesus.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">11PM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/grace-for-all-nations-with-emmanuel-ziga">Grace For All Nations with Emmanuel Ziga</a>                                            </h3>
                                          <div class="synopsis">Emmanuel Ziga is the Evangelist and President of Grace For All Nations Ministries International, and Senior Pastor and Founder of The Grace Alliance Church.</div>
                                      </div> <!-- /.program -->
                                  </li>
                                  <li>
                                      <div class="timeslot">
                                          <span class="time">11:30PM</span>
                                          <span class="category">Regulars</span>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>
                                                                                              <a href="https://www.tbnafrica.org/schedule/programme/the-vision-guided-life-with-kay-and-olu-taiwo">The Vision Guided Life with Kay &amp; Olu Taiwo</a>                                            </h3>
                                          <div class="synopsis">Kay &amp; Olu Taiwo give you keys to a transformed life through vision, identity and purpose.</div>
                                      </div> <!-- /.program -->
                                  </li>
                              </ul>
                          </div> <!-- /.programming -->
                      </div> <!-- /.col -->
                      <div class="col-sm-6 col-md-5">
                          <div class="highlights">
                              <div class="now">
                                  <img src="https://www.tbnafrica.org/image.php/programme-cover-1564656352.jpg?w=900&amp;h=600&amp;src=/images/static/programme-cover-1564656352.jpg" class="img-responsive" alt="Happy Families with Gabriel Moodley">
                                  <h3 class="title">Now Showing</h3>
                                  <div class="overlay">
                                      <div class="timeslot">
                                          <span class="time">3AM</span>
                                          <span class="category">Regulars</span>
                                          <em class="fa fa-retweet"></em>
                                      </div> <!-- /.timeslot -->
                                      <div class="program">
                                          <h3>Happy Families with Gabriel Moodley</h3>
                                          <div class="synopsis">Dr. Gabriel teaches you how to manage and overcome challenges in your family life through the word of God.</div>
                                      </div> <!-- /.program -->
                                  </div> <!-- /.overlay -->
                              </div> <!-- /.now -->
                              
                              <div class="highlight">
                                  <div id="carousel-daily-highlight" class="carousel slide" data-ride="carousel" data-interval="5500">
                                      <div class="carousel-inner" role="listbox">
                                          <div class="item active">
                                              <img src="https://www.tbnafrica.org/image.php/programme-cover-1465456869.jpg?w=900&amp;h=600&amp;src=/images/static/programme-cover-1465456869.jpg" alt="CHOOSE LIFE with John Roebert">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">5:30AM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>CHOOSE LIFE with John Roebert</h3>
                                                      <div class="synopsis">Pastor John and Mandri Roebert lead CHOOSE LIFE Church in Pretoria, South Africa. A church with a passion for the Holy Spirit, Worship, and God's Word. Our motto: Helping People Know Jesus.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="https://www.tbnafrica.org/image.php/programme-cover-1461829080.jpg?w=900&amp;h=600&amp;src=/images/static/programme-cover-1461829080.jpg" alt="Keerpunt - Dirkie van der Spuy">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">7AM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>Keerpunt - Dirkie van der Spuy</h3>
                                                      <div class="synopsis">If you want to know the bible better, grow Spiritually and be a true disciple of Jesus, listen to the message that Rev. Dirkie van der Spuy teaches us today. </div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="https://www.tbnafrica.org/image.php/programme-cover-1487680980.jpg?w=900&amp;h=600&amp;src=/images/static/programme-cover-1487680980.jpg" alt="Your Miracle Moment with Siva Moodley">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">7:30AM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>Your Miracle Moment with Siva Moodley</h3>
                                                      <div class="synopsis">Join Pastors Siva &amp; Jessie Moodley for an encounter with God&#039;s Glory, Signs &amp; Wonders and prophetic revelation of God&#039;s Word. Your life will never be the same again. This is your miracle moment.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="https://www.tbnafrica.org/image.php/programme-cover-1563817720.jpg?w=900&amp;h=600&amp;src=/images/static/programme-cover-1563817720.jpg" alt="Taffi Talks">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">8AM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>Taffi Talks</h3>
                                                      <div class="synopsis">To Propel and Ignite entrepreneurial endeavors amongst women.“Taffi Talks” is an intimate conversation with women of influence from various industries, ethnicities, and walks of life providing them with inspiration to propel them in their entrepreneurial endeavors.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="https://www.tbnafrica.org/image.php/programme-cover-1551424327.jpg?w=900&amp;h=600&amp;src=/images/static/programme-cover-1551424327.jpg" alt="CRC LIVE with Pastor At Boshoff">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">8:30AM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>CRC LIVE with Pastor At Boshoff</h3>
                                                      <div class="synopsis">Win the lost at any cost! This is the powerful motto of Christian Revival Church. Every endeavour is launched with the motto in mind, and evaluated on the grounds of how people are won effectively for Christ.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="https://www.tbnafrica.org/image.php/Steven-Furtick.jpg?w=900&amp;h=600&amp;src=/images/static/Steven-Furtick.jpg" alt="Elevation with Steven Furtick">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">9:30AM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>Elevation with Steven Furtick</h3>
                                                      <div class="synopsis">The Elevation Experience, with Pastor Steven Furtick, focuses on the strength of God in our everyday struggles.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="https://www.tbnafrica.org/image.php/programme-cover-1566854162.jpg?w=900&amp;h=600&amp;src=/images/static/programme-cover-1566854162.jpg" alt="Joseph Prince Ministries">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">10AM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>Joseph Prince Ministries</h3>
                                                      <div class="synopsis">Joseph Prince is a leading voice in proclaiming the gospel of grace. Pastor Joseph leads New Creation Church in Singapore, with a congregation that has grown from around 150 to more than 31,000.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="https://www.tbnafrica.org/image.php/programme-cover-1455621689.jpg?w=900&amp;h=600&amp;src=/images/static/programme-cover-1455621689.jpg" alt="Brian Houston @ Hillsong TV">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">10:30AM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>Brian Houston @ Hillsong TV</h3>
                                                      <div class="synopsis">Pastor Brian's messages are empowering, passionate and practical for everyday life; his teaching will inspire you with the hope, joy, meaning and purpose that can be found in a personal and loving God. Recorded in Sydney, Australia.
</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="https://www.tbnafrica.org/image.php/tbnuk-program-cover-1454941772.jpg?w=900&amp;h=600&amp;src=/images/static/tbnuk-program-cover-1454941772.jpg" alt="Rhema Hour">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">11AM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>Rhema Hour</h3>
                                                      <div class="synopsis">An exciting time with the Rhema Bible Church, with vibrant worship, and an inspiring word.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="https://www.tbnafrica.org/image.php/programme-cover-1458289641.jpg?w=900&amp;h=600&amp;src=/images/static/programme-cover-1458289641.jpg" alt="Living Life with Theo Wolmarans">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">12PM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>Living Life with Theo Wolmarans</h3>
                                                      <div class="synopsis">Theo and Beverley Wolmarans wants to bring people into the family of Jesus Christ, develop them into Christian maturity and equip them for their ministry in the church in order to magnify God and His Holy Name.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="https://www.tbnafrica.org/image.php/programme-cover-1545982559.jpg?w=900&amp;h=600&amp;src=/images/static/programme-cover-1545982559.jpg" alt="Empowered In Christ">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">2PM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>Empowered In Christ</h3>
                                                      <div class="synopsis">Join host Daniel Gelyana as he teaches on the power of healing through Jesus Christ.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="https://www.tbnafrica.org/image.php/programme-cover-1467015490.jpg?w=900&amp;h=600&amp;src=/images/static/programme-cover-1467015490.jpg" alt="Word &amp; Spirit with RT Kendall">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">2:30PM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>Word &amp; Spirit with RT Kendall</h3>
                                                      <div class="synopsis">Join RT Kendall for his message is to rediscover the power that was manifested in the Book of Acts, a demonstration of signs, wonders and miracles; a need to see the gifts of the Spirit operating in the church.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="https://www.tbnafrica.org/image.php/programme-cover-1495789845.jpg?w=900&amp;h=600&amp;src=/images/static/programme-cover-1495789845.jpg" alt="Living By The Answer with Olusola Areogun">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">3PM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>Living By The Answer with Olusola Areogun</h3>
                                                      <div class="synopsis">The teaching ministry of the Dream Centre of the Life Oasis International Church. Each believer is taught how to operate in the life of God and become an oasis in the deserts of life.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="https://www.tbnafrica.org/image.php/tbnuk-program-cover-1454940346.jpg?w=900&amp;h=600&amp;src=/images/static/tbnuk-program-cover-1454940346.jpg" alt="Life In The Word with Chuks Ozabor">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">3:30PM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>Life In The Word with Chuks Ozabor</h3>
                                                      <div class="synopsis">GraceHouse Family Church: where the word of Faith is preached and Biblical truths are presented to you in a simple and life- changing manner.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="https://www.tbnafrica.org/image.php/programme-cover-1536219817.jpg?w=900&amp;h=600&amp;src=/images/static/programme-cover-1536219817.jpg" alt="Christ For All Nations with Daniel Kolenda">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">4:30PM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>Christ For All Nations with Daniel Kolenda</h3>
                                                      <div class="synopsis">CfaN is a non-denominational missions organization. The aim of the ministry is to fulfill the Great Commission by taking the Gospel message to the world. Christ for all Nations is primarily known for it&#039;s historic crusades in Africa.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="https://www.tbnafrica.org/image.php/programme-cover-1590764914.jpg?w=900&amp;h=600&amp;src=/images/static/programme-cover-1590764914.jpg" alt="Rivers Church Online">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">5PM</span>
                                                      <span class="category">TBN Select</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>Rivers Church Online</h3>
                                                      <div class="synopsis">Join us for Sunday services from Rivers Church, Sandton.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="https://www.tbnafrica.org/image.php/programme-cover-1500298550.jpg?w=900&amp;h=600&amp;src=/images/static/programme-cover-1500298550.jpg" alt="Restoring The Shack with Paul Young">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">6PM</span>
                                                      <span class="category">Series</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>Restoring The Shack with Paul Young</h3>
                                                      <div class="synopsis">Join author Paul Young on this inside look at how his own life’s journey shaped his writing and explors questions about faith, grief, wonder and relationship with the Father, Son and Holy Spirit.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="https://www.tbnafrica.org/image.php/programme-cover-1457948677.jpg?w=900&amp;h=600&amp;src=/images/static/programme-cover-1457948677.jpg" alt="Xihlovo with Mosa Sono">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">7PM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>Xihlovo with Mosa Sono</h3>
                                                      <div class="synopsis">Bishop Sono's calling and passion is to win people to Christ, bring believers into full maturity of their walk with God, train, raise and mentor leaders in the church, corporate sector and in the community at large.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="https://www.tbnafrica.org/image.php/programme-cover-1495786972.jpg?w=900&amp;h=600&amp;src=/images/static/programme-cover-1495786972.jpg" alt="Hope Alive - Chris Mathebula">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">7:30PM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>Hope Alive - Chris Mathebula</h3>
                                                      <div class="synopsis">Hope Restoration Ministries  is a Relevant, Relating and Restoring ministry. Join Pastor SC Mathebula as he draws from  a Reservoir of Hope to restore Hope to the hopeless.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="https://www.tbnafrica.org/image.php/programme-cover-1469542876.jpg?w=900&amp;h=600&amp;src=/images/static/programme-cover-1469542876.jpg" alt="Recipes For Greatness with Godman Akinlabi">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">10PM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>Recipes For Greatness with Godman Akinlabi</h3>
                                                      <div class="synopsis">Godman Akinlabi has a God-given mandate to Make Greatness Common. He has taught and inspired people around the world. He is particularly driven to speak about the role of the church in the development of the African continent.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="https://www.tbnafrica.org/image.php/programme-cover-1580479546.jpg?w=900&amp;h=600&amp;src=/images/static/programme-cover-1580479546.jpg" alt="True Kingdom Live with Apostle George">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">10:30PM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>True Kingdom Live with Apostle George</h3>
                                                      <div class="synopsis">We’re taking Christians back to the Bible and providing a holistic system of spiritual empowerment through Teach, Train, Equip, Activate and Release principles. We proclaim the whole Word, turning every believer into a Disciple of Jesus.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="https://www.tbnafrica.org/image.php/programme-cover-1457948922.jpg?w=900&amp;h=600&amp;src=/images/static/programme-cover-1457948922.jpg" alt="Grace For All Nations with Emmanuel Ziga">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">11PM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>Grace For All Nations with Emmanuel Ziga</h3>
                                                      <div class="synopsis">Emmanuel Ziga is the Evangelist and President of Grace For All Nations Ministries International, and Senior Pastor and Founder of The Grace Alliance Church.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="https://www.tbnafrica.org/image.php/programme-cover-1528352096.jpg?w=900&amp;h=600&amp;src=/images/static/programme-cover-1528352096.jpg" alt="The Vision Guided Life with Kay &amp; Olu Taiwo">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">11:30PM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>The Vision Guided Life with Kay &amp; Olu Taiwo</h3>
                                                      <div class="synopsis">Kay &amp; Olu Taiwo give you keys to a transformed life through vision, identity and purpose.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                      </div> <!-- /.carousel-inner -->
                                      
                                      <a class="left carousel-control" href="#carousel-daily-highlight" role="button" data-slide="prev">
                                          <span class="fa fa-chevron-left" aria-hidden="true"></span>
                                          <span class="sr-only">Previous</span>
                                      </a>
                                      <a class="right carousel-control" href="#carousel-daily-highlight" role="button" data-slide="next">
                                          <span class="fa fa-chevron-right" aria-hidden="true"></span>
                                          <span class="sr-only">Next</span>
                                      </a>
                                  </div> <!-- /.carousel -->
                                  <h3 class="title">highlights</h3>
                              </div> <!-- /.highlight -->
                              
                              <div class="featured">
                                  <div id="carousel-daily-featured" class="carousel slide" data-ride="carousel" data-interval="6000">
                                      <div class="carousel-inner" role="listbox">
                                          <div class="item active">
                                              <img src="https://www.tbnafrica.org/image.php/programme-cover-1457263171.png?w=900&amp;h=600&amp;src=/images/static/programme-cover-1457263171.png" alt="Partner Time">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">4PM</span>
                                                      <span class="category">Regulars</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>Partner Time</h3>
                                                      <div class="synopsis">Join Managing Director, Lucky Mbiko, as he shares the vision of TBN Africa and updates viewers of what is happening behind the scenes and how they can partner and make an impact in the continent of Africa and across the world.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                          <div class="item">
                                              <img src="https://www.tbnafrica.org/image.php/programme-cover-1455731224.jpg?w=900&amp;h=600&amp;src=/images/static/programme-cover-1455731224.jpg" alt="I Flunked Sunday School">
                                              <div class="overlay">
                                                  <div class="timeslot">
                                                      <span class="time">8PM</span>
                                                      <span class="category">Movies</span>
                                                  </div> <!-- /.timeslot -->
                                                  <div class="program">
                                                      <h3>I Flunked Sunday School</h3>
                                                      <div class="synopsis">Lloyd Boyd is a personal preacher who stumbles and bumbles into people's lives, trying to help them sort through their personal problems.</div>
                                                  </div> <!-- /.program -->
                                              </div> <!-- /.overlay -->
                                          </div> <!-- /.item -->
                                      </div> <!-- /.carousel-inner -->
                                      
                                      <a class="left carousel-control" href="#carousel-daily-featured" role="button" data-slide="prev">
                                          <span class="fa fa-chevron-left" aria-hidden="true"></span>
                                          <span class="sr-only">Previous</span>
                                      </a>
                                      <a class="right carousel-control" href="#carousel-daily-featured" role="button" data-slide="next">
                                          <span class="fa fa-chevron-right" aria-hidden="true"></span>
                                          <span class="sr-only">Next</span>
                                      </a>
                                  </div> <!-- /.carousel -->
                                  <h3 class="title">Daily Features</h3>
                              </div> <!-- /.featured -->
                              
                          </div> <!-- /.highlights -->
                      </div> <!-- /.col -->
                  </div> <!-- /.row -->
              </div> <!-- /.dayview -->
            <hr>
      <div class="sharethis-inline-share-buttons"></div>
  
  </div> <!-- /.container -->
</div> <!-- /.content -->

<%- include('../footer'); -%>
<%- include('../js'); -%>
<%- include('../../end'); -%>