<%- include('../header'); -%>
<div style ="padding-bottom: 150px;" class="content ">
    <div class="container">
        <div class="block">
            <h2 class="block-title">Edit Profile Records</h2>
            <div class="mytbn">
                <div class="row">
                    <div class="col-md-9">
                        <form action="">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">FIRST NAME:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-user"></i>
                                            </span>
                                            <input type="text" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">MIDDLE NAME:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-user"></i>
                                            </span>
                                            <input type="text" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <label for="">SURNAME::</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-user"></i>
                                            </span>
                                            <input type="text" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                                
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">DATE OF BIRTH:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-calendar"></i>
                                            </span>
                                            <input type="text" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">ADDRESS:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-home"></i>
                                            </span>
                                            <input type="text" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">LOCATION:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                            <input type="text" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">LOCAL GOVERNMENT AREA:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                            <input type="text" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                        
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">EMAIL:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                            <input type="text" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">CHURCH CHAPTER:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                            <input type="text" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                        
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">RESIDENT PASTOR:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                            <input type="text" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">CHAPTER LOCATION:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                            <input type="text" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                            
                                    <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="">NAME OF MINISTRY/ORGANIZATION:</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                            <input type="text" class = "form-control">
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                                <button class = "btn btn-primary">Update profile record</button>
                            </form>
                    </div>
                    <div class="col-md-3">
                      <div style = "margin-top:18px;" class="mytbn-nav ">
                          <div class="item">
                            <h4>My Account</h4>
                              <ul>
                                  <li>
                                      <a href="/vod">
                                          <i class = "fas fa-sync"></i>
                                           On Demand
                                      </a>
                                  </li>
                                  <li>
                                    <a href="/edit-profile">
                                        <i class = "far fa-edit"></i>
                                        Edit profile
                                    </a>
                                </li>
                                <li>
                                    <a href="/change-password">
                                        <i class = "fas fa-user-lock"></i>
                                        Change password
                                    </a>
                                </li>
                                <li>
                                    <a href="/logout">
                                        <i class = "fas fa-sign-out-alt"></i>
                                        Logout
                                    </a>
                                </li>
                              </ul>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../footer'); -%>
<%- include('../js'); -%>
<%- include('../../end'); -%>