<%- include('../header'); -%>

<div class="content">
    <div class="container">
    
      <div class="block">
          <div class="contact-page" id="prayerForm">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="block">
                    <div class="live-audience clearfix">
                        <h2 class="block-title"><span>PARTNERSHIP</span> FORM
                        </h2>
                      <p>Thank you for wanting to be a part of the FAITH TO FAITH TV, where viewers experience 
                        the message of faith and inspiring television like never before!</p>
                      <hr />
                      <p>&nbsp;</p>
                          <h4 class = "pb-2">PERSONAL INFORMATION</h4>
                          <form accept-charset="UTF-8" action="" method="post" class="story-form" role="form"> 
                          <input type="hidden" value="story" id="formStory" name="form">                  
                          <div class="form-group">
                              <label for="title">Title</label>
                              <input value="" id="title" name="title" type="text" class="form-control" placeholder="Title">                  
                          </div>
                          <div class="form-group">
                              <label for="surname">*Surname</label>
                              <input value="" id="surname" name="surname" type="text" class="form-control" placeholder="Surname">                  
                          </div>
                          <div class="form-group">
                              <label for="firstname">*Firstname</label>
                              <input value="" id="firstname" name="firstname" type="text" class="form-control" placeholder="Firstname">                  
                          </div>
                          <div class="form-group">
                              <label for="address">*Contact Address</label>
                              <input value="" id="address" name="address" type="text" class="form-control" placeholder="Address">                  
                          </div>
                          <div class="form-group">
                              <label for="phone">*Phone No</label>
                              <input value="" id="phone" name="phone" type="text" class="form-control" placeholder="Phone Number">                  
                          </div>
                          <div class="form-group">
                              <label for="email">*Email</label>
                              <input value="" id="email" name="email" type="text" class="form-control" placeholder="Email">                  
                          </div> 
                           <div class="form-group">
                              <label for="whatsapp">*Whatsapp Phone No</label>
                              <input value="" id="whatsapp" name="whatsapp" type="text" class="form-control" placeholder="Whatsapp Phone No">                  
                          </div>
                          <div class="form-group">
                              <label for="fellowship">*Church Chapter / Fellowship (Members Only)</label>
                              <input value="" id="fellowship" name="fellowship" type="text" class="form-control" placeholder="Church Chapter Fellowship (Members Only)">                  
                          </div>
                          <div class = "form-group">
                              <label for="membership">1. * Are you a member of Renaissance?</label>
                              <select class ="form-control" name="membership" id="membership">
                                  <option value="">CHOOSE AN OPTION</option>
                                 <option value="">YES</option>
                                 <option value="">NO</option>
                              </select>
                          </div>
                          <br>
                          <h4 class = "pb-4">YOU CAN PARTNER IN ONE OR MORE CATEGORIES</h4>
                              <hr>
                              <p>
                              <label class="chkBox">
                                  <input type="checkbox" value="Y" id="mem_school" name="mem_school" class="inputCheckbox" /> 
                                  <strong>Faith to Faith TV one membership school</strong>
                                </label>
                          </p>
                          <p>
                              <label class="chkBox">
                                  <input type="checkbox" value="Y" id="teenage_min" name="teenage_min" class="inputCheckbox" /> 
                                  <strong>Children & Teenagers' Ministry</strong>
                                </label>
                          </p>
                          <p>
                              <label class="chkBox">
                                  <input type="checkbox" value="Y" id="radio_outreach" name="radio_outreach" class="inputCheckbox" /> 
                                  <strong>Faith to Faith Radio Online Outreaches</strong>
                                </label>
                          </p>
                          <p>
                              <label class="chkBox">
                                  <input type="checkbox" value="Y" id="bible_acad" name="bible_acad" class="inputCheckbox" /> 
                                  <strong>Faith to Faith Bible Academy</strong>
                                </label>
                          </p>
                          <p>
                              <label class="chkBox">
                                  <input type="checkbox" value="Y" id="church_plant" name="church_plant" class="inputCheckbox" /> 
                                  <strong>Faith to Faith Devotionals Church planting</strong>
                                </label>
                          </p>
                          <p>
                              <label class="chkBox">
                                  <input type="checkbox" value="Y" id="bus_com" name="bus_com" class="inputCheckbox" /> 
                                  <strong>Renaissance Business Community</strong>
                                </label>
                          </p>
                          <p>
                              <label class="chkBox">
                                  <input type="checkbox" value="Y" id="rythms" name="rythms" class="inputCheckbox" /> 
                                  <strong>Rythms of Renaissance</strong>
                                </label>
                          </p>
                          <p>
                              <label class="chkBox">
                                  <input type="checkbox" value="Y" id="pub" name="pub" class="inputCheckbox" /> 
                                  <strong>Faith to Faith Publications & Books</strong>
                                </label>
                          </p>
                          <hr>
                          <h4 style = "text-align:center" class = "pb-4">PARTNERSHIP LEVELS (PLS TICK INTERESTED LEVELS)<br> (PER ANNUM)</h4>
                          <div class="container">
                              <div class="row">
                                  <div style="margin-left:-5px" class="col-lg-7 col-md-7 col-sm-5">
                                      <div style="overflow-x:auto;">
                                          <table  class="table table-condensed table-striped">
                                              <tbody>
                                                <tr>
                                                  <td>
                                                      <label style ="width:30px"class="chkBox">
                                                          <span>
                                                              <input type="checkbox" value = "Y" class = "inputCheckbox">
                                                              <span><strong>
                                                              </span>
                                                          </span>
                                                      </label>
                                                  </td>
                                                  <td>Bronze 1</td>
                                                  <td>N15,000</td>
                                                  <td>$75</td>
                                                  <td>E50</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <label style ="width:30px"class="chkBox">
                                                          <span>
                                                              <input type="checkbox" value = "Y" class = "inputCheckbox">
                                                              <span><strong>
                                                              </span>
                                                          </span>
                                                      </label>
                                                  </td>
                                                  <td>Bronze 2</td>
                                                  <td>N30,000</td>
                                                  <td>$150</td>
                                                  <td>E100</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <label style ="width:30px"class="chkBox">
                                                          <span>
                                                              <input type="checkbox" value = "Y" class = "inputCheckbox">
                                                              <span><strong>
                                                              </span>
                                                          </span>
                                                      </label>
                                                  </td>
                                                  <td>Bronze 3</td>
                                                  <td>N50,000</td>
                                                  <td>$250</td>
                                                  <td>E160</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <label style ="width:30px"class="chkBox">
                                                          <span>
                                                              <input type="checkbox" value = "Y" class = "inputCheckbox">
                                                              <span><strong>
                                                              </span>
                                                          </span>
                                                      </label>
                                                  </td>
                                                  <td>Bronze 4</td>
                                                  <td>N75,000</td>
                                                  <td>$375</td>
                                                  <td>E250</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <label style ="width:30px"class="chkBox">
                                                          <span>
                                                              <input type="checkbox" value = "Y" class = "inputCheckbox">
                                                              <span><strong>
                                                              </span>
                                                          </span>
                                                      </label>
                                                  </td>
                                                  <td>Silver 1</td>
                                                  <td>N100,000</td>
                                                  <td>$500</td>
                                                  <td>E330</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <label style ="width:30px"class="chkBox">
                                                          <span>
                                                              <input type="checkbox" value = "Y" class = "inputCheckbox">
                                                              <span><strong>
                                                              </span>
                                                          </span>
                                                      </label>
                                                  </td>
                                                  <td>Silver 2</td>
                                                  <td>N200,000</td>
                                                  <td>$1,000</td>
                                                  <td>E660</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <label style ="width:30px"class="chkBox">
                                                          <span>
                                                              <input type="checkbox" value = "Y" class = "inputCheckbox">
                                                              <span><strong>
                                                              </span>
                                                          </span>
                                                      </label>
                                                  </td>
                                                  <td>Silver 3</td>
                                                  <td>N300,000</td>
                                                  <td>$1,500</td>
                                                  <td>E1,000</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <label style ="width:30px"class="chkBox">
                                                          <span>
                                                              <input type="checkbox" value = "Y" class = "inputCheckbox">
                                                              <span><strong>
                                                              </span>
                                                          </span>
                                                      </label>
                                                  </td>
                                                  <td>Gold 1</td>
                                                  <td>N500,000</td>
                                                  <td>$2,500</td>
                                                  <td>E1,600</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <label style ="width:30px"class="chkBox">
                                                          <span>
                                                              <input type="checkbox" value = "Y" class = "inputCheckbox">
                                                              <span><strong>
                                                              </span>
                                                          </span>
                                                      </label>
                                                  </td>
                                                  <td>Gold 2</td>
                                                  <td>N750,000</td>
                                                  <td>$3,750</td>
                                                  <td>E2,250</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <label style ="width:30px"class="chkBox">
                                                          <span>
                                                              <input type="checkbox" value = "Y" class = "inputCheckbox">
                                                              <span><strong>
                                                              </span>
                                                          </span>
                                                      </label>
                                                  </td>
                                                  <td>Diamond 1</td>
                                                  <td>N1,000,000</td>
                                                  <td>$5,000</td>
                                                  <td>E3,300</td>
                                                </tr>
                                                <tr>
                                                  <td>
                                                      <label style ="width:30px"class="chkBox">
                                                          <span>
                                                              <input type="checkbox" value = "Y" class = "inputCheckbox">
                                                              <span><strong>
                                                              </span>
                                                          </span>
                                                      </label>
                                                  </td>
                                                  <td>Diamond 2</td>
                                                  <td>N1,500,000</td>
                                                  <td>$7,500</td>
                                                  <td>E5,000</td>
                                                </tr>
                                              </tbody>
                                            </table>
                                      </div>
                                     
                                  </div>
                              </div>
                          </div>
                        <div>
                            <hr>
                            <p>PLEASE SUBMIT THIS FORM TO CHURCH OFFICE AFTER FILLING
                              (NOT APPLICABLE TO ONLINE FORMS)
                          </p>
                          <h4>RENAISSANCE ASSEMBLY INC</h4>
                          <p>PER ANNUM 2020 PRAYER POINTS/GOALS</p>

                          <div class="form-group">
                              <label for="prayer1">Prayer point 1</label>
                              <input value="" id="prayer1" name="prayer1" type="text" class="form-control" placeholder="Prayer Point 1">                  
                          </div>
                          <div class="form-group">
                              <label for="prayer2">Prayer point 2</label>
                              <input value="" id="prayer2" name="prayer2" type="text" class="form-control" placeholder="Prayer Point 2">                  
                          </div>

                          <div class = "form-group">
                              <label class="chkBox">
                                  <span>
                                      <input type="checkbox" value = "Y" class = "inputCheckbox">
                                      <span><strong>I consent to the processing of my personal data by FAITH TO FAITH TV with its registered office Port Harcourt,
                                         Rivers State, Nigeria, in order to provide services available on the site faithtofaithtv.org. I am informed about the right
                                          to the contents of my personal data and can make corrections to it when needed.
                                      </span>
                                  </span>
                              </label>
                          </div>
                            <p><small><i>* Required fields</i></small></p>
                        </div>
                    
                        <div style="text-align: right; margin-top: 10px;">
                          <button class="g-recaptcha btn btn-primary"><em class="fa fa-send"></em> Submit</button>
                        </div>
                        
                        <div class="clearfix"></div>
                      </form>
                   </div>
              
                    <style>
                  
                      #prayerForm hr {
                          height: 1px;
                          background: #E1E1E1;
                          margin: 20px 0;
                      }
                      .chkBox {
                          display: block;
                          font-weight: normal;
                          margin-bottom: 0;
                          padding: 5px;
                          background: #F1F1F1;
                          border-radius: 4px;
                          border: 1px solid #E1E1E1;
                          cursor: pointer;
                      }
                      .chkBox.has-error {
                          background: #da4453;
                          border: #da4453;
                          color: #FFF;
                      }
                      .chkBox > input {
                          float: left;
                          margin-right: 10px;
                      }
                      .chkBox > small {
                          display: block;
                          padding: 7px 0 0 23px;
                      }
              
              </style>
                </div> 
              </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <address>
                    <h5>FAITH STATEMENT</h5>
                  <div class="lrg"></div>
                  <div class="lrg nowrap" id="e2"></div>
                  <p>
                      TBN Africa is based on Christian morals and principles and its content cannot 
                      contradict what we stand for and bring our faith into disrepute. It is therefore imperative
                       that all our content be in line with TBN's Faith Statement and should adhere to our Broadcasting code of conduct as follows:
                   </p>
                   <div class = "prog-form-items">
                      <ul>
                       <li>We believe that the Holy Bible is the inspired, infallible, 
                          and authoritative source of Christian doctrine and precept.
                      </li>
                      <li>
                          We believe that there is one God, eternally existent in three persons: Father, Son and Holy Spirit.
                      </li>
                      <li>
                          We believe that the only hope for man is to believe in Jesus Christ, the virgin-born Son of God, 
                          who died to take upon Himself the punishment for the sin of mankind, 
                          and Who rose from the dead, so that by receiving Him as Saviour and Lord, man is redeemed by His Blood.
                      </li>
                      <li>
                          We believe that Jesus Christ in person will return to earth in power and glory.
                      </li>
                      <li>
                          We believe that the Holy Spirit indwells those who have received Christ for the purpose of 
                          enabling them to live righteous and godly lives.
                      </li>
                      </ul>
                   </div>
                </address>
              </div> <!-- /.col -->
            </div> <!-- /.row -->
          </div> <!-- /.contact -->
        </div> <!-- /.block -->

      <hr>
      <div class="sharethis-inline-share-buttons"></div>

    </div> <!-- /.block -->
    </div>
<%- include('../footer'); -%>
<%- include('../js'); -%>
<%- include('../../end'); -%>