<%- include('../header'); -%>
<div class="content">
    <div class="container">
      <div class="block">
          <div class="contact-page" id="prayerForm">
              <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="block">
                    <div class="live-audience clearfix">
                        <h2 class="block-title"><span>PRAYER</span> REQUESTS
                        </h2>
                        <p class = "pt-3">
                          Matthew 18:19-20 - (19) Again I say to you, that if two of you agree on earth about anything that they may ask, it shall be done for them by My Father who is in heaven. (20) For where 
                          two or three have gathered together in My name, I am there in their midst.</p>
                          <p>We would love to stand in faith with you and believe with you for what you are trusting God for. So please email or phone us with your prayer request.</p>
                        <hr />
                      <p>&nbsp;</p>
                          <h4 class = "pb-2">PRAYER DETAILS</h4>

                          <div id = "message"></div>
                          <form id="prayer-form">
                          <div class = "form-group">
                              <label for="fullname">*Your Full Name</label>
                              <input placeholder = "Your Name (Required)" type="text" id = "fullname" name = "fullname" class = "form-control" required>
                          </div>
                          <div class = "form-group">
                              <label for="email">* Email Address</label>
                              <input type="text" placeholder ="Email Address (Required)" id = "email" name = "email" class = "form-control" required>
                          </div>
                          <div class = "form-group">
                              <label for="phone">Phone Number</label>
                              <input type="text" placeholder ="Phone Number" id = "phone" name = "phone" class = "form-control" required>
                          </div>
                          <div class="form-group">
                            <label for="prayer_req">* Prayer request</label>
                            <textarea id="prayer_req" name="prayer_req" rows="5" class="form-control" placeholder="Enter Prayer Request  (Required)" required></textarea>                  
                        </div>
                          <br>
                          <hr>
                          <div class = "form-group">
                              <label class="chkBox">
                                  <span>
                                      <input type="checkbox" value = "Y" id ="terms1" required class = "inputCheckbox">
                                      <strong>By using this service i agree to FAITH TO FAITH TV's  <a href = "">Terms of Service</a> and privacy policy</strong>
                                  </span>
                              </label>
                          </div>
                        <hr />
                        <div>
                          <div class = "form-group">
                              <label class="chkBox">
                                  <span>
                                      <input type="checkbox" value = "Y"  id = "terms2" required class = "inputCheckbox">
                                      <span><strong>By using this online service I agree to FAITH TO FAITH TV's Terms of Service and Privacy Policy.
                                          I consent to the processing of my personal data by FAITH TO FAITH TV with its registered office in Port Harcourt, Rivers State, Nigeria, in order to provide services available on the site faithtofaithtv.org. I am informed about the 
                                          right to the contents of my personal data and can make corrections to it when needed. </span>
                                  </span>
                              </label>
                          </div>
                            <p><small><i>* Required fields</i></small></p>
                        </div>
                        <div style="text-align: right; margin-top: 10px;">
                          <button class="g-recaptcha btn btn-primary"><em class="fa fa-send"></em> Submit</button>
                        </div>
                        
                        <div class="clearfix"></div>
                      </form>
                   </div>
                    <style>
                      #prayerForm hr {
                          height: 1px;
                          background: #E1E1E1;
                          margin: 20px 0;
                      }
                      .chkBox {
                          display: block;
                          font-weight: normal;
                          margin-bottom: 0;
                          padding: 5px;
                          background: #F1F1F1;
                          border-radius: 4px;
                          border: 1px solid #E1E1E1;
                          cursor: pointer;
                      }
                      .chkBox.has-error {
                          background: #da4453;
                          border: #da4453;
                          color: #FFF;
                      }
                      .chkBox > input {
                          float: left;
                          margin-right: 10px;
                      }
                      .chkBox > small {
                          display: block;
                          padding: 7px 0 0 23px;
                      }
              
              </style>
                </div> 
              </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                <address>
                    <h5>FAITH STATEMENT</h5>
                  <div class="lrg"></div>
                  <div class="lrg nowrap" id="e2"></div>
                  <p>
                      TBN Africa is based on Christian morals and principles and its content cannot 
                      contradict what we stand for and bring our faith into disrepute. It is therefore imperative
                       that all our content be in line with TBN's Faith Statement and should adhere to our Broadcasting code of conduct as follows:
                   </p>
                   <div class = "prog-form-items">
                      <ul>
                       <li>We believe that the Holy Bible is the inspired, infallible, 
                          and authoritative source of Christian doctrine and precept.
                      </li>
                      <li>
                          We believe that there is one God, eternally existent in three persons: Father, Son and Holy Spirit.
                      </li>
                      <li>
                          We believe that the only hope for man is to believe in Jesus Christ, the virgin-born Son of God, 
                          who died to take upon Himself the punishment for the sin of mankind, 
                          and Who rose from the dead, so that by receiving Him as Saviour and Lord, man is redeemed by His Blood.
                      </li>
                      <li>
                          We believe that Jesus Christ in person will return to earth in power and glory.
                      </li>
                      <li>
                          We believe that the Holy Spirit indwells those who have received Christ for the purpose of 
                          enabling them to live righteous and godly lives.
                      </li>
                      </ul>
                   </div>
                </address>
              </div> <!-- /.col -->
            </div> <!-- /.row -->
          </div> <!-- /.contact -->
        </div> <!-- /.block -->
      <hr>
      <div class="sharethis-inline-share-buttons"></div>
    </div> <!-- /.block -->
    </div>

<%- include('../footer'); -%>
<%- include('../js'); -%>

<script>
        $(document).on('submit', '#prayer-form', function(event) {
            event.preventDefault();
              let contactForm = $(this);
              let fullname = jQuery("#fullname").val();
              let email = jQuery("#email").val();
              let phone = jQuery("#phone").val();
              let prayerRequest = jQuery("#prayer_req").val();

              if (terms1.checked != true && terms2.checked != true){
                    $('#message').html(`
                    <div style ="color:white" class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Attention</strong> Please accept all terms and conditions.
                    </div>`);
                    window.scrollTo({
                        top: 0,
                        left: 0,
                        behavior: 'smooth'
                    });
              }else{

            jQuery.ajax({
                url: '/prayer_request',
                method: "POST",
                dataType : "json",
                data: JSON.stringify({
                "fullName": fullname,
                "email": email,
                "phone": phone,
                "prayerRequest": prayerRequest,
            }),
                "contentType": "application/json",
                success: function(response) { 
                    console.log(response);
                    if(response.status==200){
                        $('#message').html(`
                        <div style ="color:white" class="alert alert-success alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Success</strong> Your prayer request has been sent successfully.
                        </div>`);
                        window.scrollTo({
                            top: 0,
                            left: 0,
                            behavior: 'smooth'
                        });
                    }
                },
                error:function(jqXhr){
                    if(jqXhr.status ==400){
                        let responseText = jQuery.parseJSON(jqXhr.responseText);
                         console.log(responseText);
                    }
                }
            });
           }
        });


</script>

<%- include('../../end'); -%>