<%- include('../header'); -%>
<div class="content">
    <div class="container">
      <div class="block">
          <h2 class="block-title"><strong style="text-transform: none; font-weight: 100;">FAITH</strong><span> TV</span></h2>
          <div class="mytbn login register">
              <div class="container">
                  <div class="row">
                      <div class="col-md-8 col-md-offset-2">
                          <div class="item">
                              <h4 style="text-align:center">MEMBERSHIP REGISTRATION</h4>
                              <p>Thank you for wanting to be a part of the FAITH TO FAITH TV, where viewers experience the message of faith and inspiring television like never before!
                                Note: This platform is strictly for members of Renaissance Assembly and/or authorized Friends and Partners of the ministry, please complete all the fields below. 
                                *PLEASE NOTE that we do not commission content.</p>
                                <hr>
                                <h4 style="text-align:center">INFORMATION</h4>
                              <div class="row">
                                  <div class="col-sm-12">
                                      <div class="tbl form">
                                          <div class="tbl-cell" id="rgstrForm">
                                            <div  style = "text-align:center" id="message"></div>
                                              <form id = "register-form">
                                                <div class="form-group">
                                                  <label for="title" class="sr-only">TITLE: </label>
                                                  <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <em class="fas fa-user"></em>
                                                      </span>
                                                      <input value="" id="title" name="title" type="text" class="form-control" placeholder="Enter your title">                                                        
                                                    </div>
                                                  </div>
                                                  <div class="form-group">
                                                    <label for="firstname" class="sr-only">FIRST NAME: </label>
                                                    <div class="input-group">
                                                      <span class="input-group-addon">
                                                          <em class="fas fa-user"></em>
                                                        </span>
                                                        <input value="" id="firstname" name="firstname" type="text" class="form-control" placeholder="First Name">                                                        
                                                      </div>
                                                    </div>
                                                    <div class="form-group">
                                                      <label for="middlename" class="sr-only">MIDDLE NAME: </label>
                                                      <div class="input-group">
                                                        <span class="input-group-addon">
                                                            <em class="fas fa-user"></em>
                                                          </span>
                                                          <input value="" id="middlename" name="middlename" type="text" class="form-control" placeholder="Middle Name">                                                        
                                                        </div>
                                                      </div>
                                                      <div class="form-group">
                                                        <label for="surname" class="sr-only">SURNAME: </label>
                                                        <div class="input-group">
                                                          <span class="input-group-addon">
                                                              <em class="fas fa-user"></em>
                                                            </span>
                                                            <input value="" id="surname" name="surname" type="text" class="form-control" placeholder= "Surname">                                                        
                                                          </div>
                                                        </div>
                                                        <div class="form-group">
                                                          <label for="dob" class="sr-only">DATE OF BIRTH: </label>
                                                          <div class="input-group">
                                                            <span class="input-group-addon">
                                                                <em class="far fa-calendar-alt"></em>
                                                              </span>
                                                              <input value="" id="dob" name="dob" type="text" class="form-control" placeholder= "e.g 1999-01-29">                                                        
                                                            </div>
                                                          </div>
                                                          <div class="form-group">
                                                            <label for="address" class="sr-only">ADDRESS: </label>
                                                            <div class="input-group">
                                                              <span class="input-group-addon">
                                                                  <em class="fas fa-home"></em>
                                                                </span>
                                                                <input value="" id="address" name="address" type="text" class="form-control" placeholder= "Address">                                                        
                                                              </div>
                                                            </div>
                                                            <div class="form-group">
                                                              <label for="location" class="sr-only">LOCATION: </label>
                                                              <div class="input-group">
                                                                <span class="input-group-addon">
                                                                    <i class="fas fa-map-marker-alt"></i>
                                                                  </span>
                                                                  <input value="" id="location" name="location" type="text" class="form-control" placeholder= "Location">                                                        
                                                                </div>
                                                              </div>
                                                              <div class="form-group">
                                                                <label for="state" class="sr-only">STATE OF ORIGIN: </label>
                                                                <div class="input-group">
                                                                  <span class="input-group-addon">
                                                                      <em class="fas fa-globe-africa"></em>
                                                                    </span>
                                                                    <input value="" id="state" name="state" type="text" class="form-control" placeholder= "State">                                                        
                                                                  </div>
                                                                </div>
                                                                <div class="form-group">
                                                                  <label for="lga" class="sr-only">LOCAL GOVERNMENT AREA: </label>
                                                                  <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <em class="fas fa-globe-africa"></em>
                                                                      </span>
                                                                      <input value="" id="lga" name="lga" type="text" class="form-control" placeholder= "Local Government of Origin">                                                        
                                                                    </div>
                                                                  </div>
                                                                <div class="form-group">
                                                                    <label for="email" class="sr-only">EMAIL</label>
                                                                    <div class="input-group">
                                                                      <span class="input-group-addon">
                                                                          <em class="fas fa-envelope"></em>
                                                                        </span>
                                                                        <input value="" id="email" name="email" type="email" class="form-control" placeholder="Email address">                                                        
                                                                      </div>
                                                                </div>
                                                                <div class="form-group">
                                                                  <label for="church" class="sr-only">CHURCH CHAPTER: </label>
                                                                  <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <em class="fas fa-church"></em>
                                                                      </span>
                                                                      <input value="" id="church" name="church" type="text" class="form-control" placeholder= "Church Chapter">                                                        
                                                                    </div>
                                                                  </div>
                                                                  <div class="form-group">
                                                                    <label for="resident_pst" class="sr-only">RESIDENT PASTOR: </label>
                                                                    <div class="input-group">
                                                                      <span class="input-group-addon">
                                                                          <em class="fa fa-fw fa-user"></em>
                                                                        </span>
                                                                        <input value="" id="resident_pst" name="resident_pst" type="text" class="form-control" placeholder= "Resident Pastor">                                                        
                                                                      </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                      <label for="chapter_location" class="sr-only">CHAPTER LOCATION: </label>
                                                                      <div class="input-group">
                                                                        <span class="input-group-addon">
                                                                            <em class="fa fa-fw fa-user"></em>
                                                                          </span>
                                                                          <input value="" id="chapter_location" name="chapter_location" type="text" class="form-control" placeholder= "Chapter Location">                                                        
                                                                        </div>
                                                                      </div>
                                                                      <div class="form-group">
                                                                        <label for="min_name" class="sr-only">NAME OF MINISTRY/ORGANIZATION: </label>
                                                                        <div class="input-group">
                                                                          <span class="input-group-addon">
                                                                              <em class="fa fa-fw fa-user"></em>
                                                                            </span>
                                                                            <input value="" id="min_name" name="min_name" type="text" class="form-control" placeholder= "Name of ministry / organization">                                                        
                                                                          </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                          <label for="password" class="sr-only">PASSWORD: </label>
                                                                          <div class="input-group">
                                                                            <span class="input-group-addon">
                                                                                <em class="fa fa-fw fa-lock"></em>
                                                                              </span>
                                                                              <input value="" id="password" name="password" type="password" class="form-control" placeholder= "Provide password">                                                        
                                                                            </div>
                                                                          </div>
                                                                          <div class="form-group">
                                                                            <label for="confirm_password" class="sr-only">CONFIRM PASSWORD: </label>
                                                                            <div class="input-group">
                                                                              <span class="input-group-addon">
                                                                                  <em class="fa fa-fw fa-lock"></em>
                                                                                </span>
                                                                                <input value="" id="confirm_password" name="confirm_password" type="password" class="form-control" placeholder= "Confirm Password">                                                        
                                                                              </div>

                                                                            </div>
                                                                          <div class="move-center">
                                                                          <h3 style = "text-align:center">DECLARATIONS</h3>
                                                                       </div>
                                                                       <hr>
                                                                       <div class = "move-center">
                                                                        <p>
                                                                          <label class="chkBox">
                                                                              <input type="checkbox" value="Y" id ="terms1" class="inputCheckbox" /> 
                                                                              <strong>
                                                                                I affirm that the details provided above are accurate and I consent to the processing of my personal 
                                                                                data by FAITH TO FAITH TV with its registered office in Port Harcourt, Rivers State, Nigeria, in order 
                                                                                to provide services available on the site faithtofaithtv.org. I am informed about the right to the contents
                                                                                 of my personal data and can make corrections to it when needed. By filling this form, you are granting 
                                                                                 FAITH TO FAITH TV the rights to use your details royalty
                                                                                 free for promotional purposes and other uses where necessary.
                                                                              </strong>
                                                                            </label>
                                                                      </p>
                                                                     </div>
               
                                                                  <p>
                                                                    <label class = "chkBox">
                                                                      <input type="checkbox" value="Y" id = "terms2" class="inputCheckbox" /> 
                                                                      <strong>By submitting this form you agree to Faith TV <a href="" class="ukced-terms">terms</a></strong>
                                                                    </label>
                                                                    
                                                                  </p>
                                                  <div class="form-group">
                                                  <button style = "width:190px" class="btn btn-primary">Register</button>
                                                </div> 
                                        </form>
                                               </div> <!-- /.tbl-cell -->
                                      </div> <!-- /.tbl -->
                                  </div> <!-- /.col -->
                                </div>
                                    <hr class= "item-footer">
                                    <div class="row">
                                      <div style = "text-align:center">
                                        <p>OR</p>
                                        <p>SIGN UP WITH</p>
                                      </div>
                                  <div style = "margin-left:20%;" class = "col-lg-12">
                                    <button class="loginBtn loginBtn--facebook">
                                      <a style = "color:white" href ="/register/auth/facebook" >Signup with Facebook</a> 
                                  </button>
                                  <button class="loginBtn loginBtn--google">
                                      Login with Google
                                  </button>
                                </div>
                              </div> <!-- /.row -->
                              <p class="item-footer">Already registered? <a href="/login">Sign in</a></p>
                          </div> <!-- /.item -->
                      </div> <!-- /.col -->
                  </div> <!-- /.row -->
              </div> <!-- /.container -->
          </div> <!-- /.mytbn -->
      </div> <!-- /.block -->
      <div class="modal video-modal fade" id="TermsModal" tabindex="-1" role="dialog" aria-labelledby="TermsModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                  <span aria-hidden="true">&times;</span>
                  <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="TermsModalLabel">Terms of Service</h4>
              </div>
              <div class="modal-body">
                  <article class="static">
              
    <h2>TERMS and CONDITIONS</h2>
    
    <h4>About us</h4>
    
    <p>TBN Africa is redefining Christian television and leading the way into a new exciting era of authentic credible Christian broadcasting, with an unrivalled selection of the best African and international Christian ministry, lifestyle, music, youth shows, children&rsquo;s entertainment, documentaries, movies and much more.</p>
    
    <p>TBN is the international leader in faith and family<strong>&nbsp;</strong>television. With over 30 networks available on 88 satellites, TBN and its family of networks are available<strong>&nbsp;</strong>in every nation across the world.</p>
    
    <h4>Use of Site</h4>
    
    <p>You may only use this site to browse the content, make legitimate purchases or donations and shall not use this site for any other purposes, including without limitation, to make any speculative, false or fraudulent purchase. This site and the content provided in this site may not be copied, reproduced, republished, uploaded, posted, transmitted or distributed. &#39;Deep-linking&#39;, &#39;embedding&#39; or using analogous technology is strictly prohibited. Unauthorized use of this site and/or the materials contained on this site may violate applicable copyright, trademark or other intellectual property laws or other laws.</p>
    
    <h3>African Christian Events Diary</h3>
    
    <ol>
        <li>TBN Africa accepts to broadcast advertisements on the terms and conditions below (&ldquo;terms&rdquo;).</li>
        <li>These terms apply to the &ldquo;advertisements&rdquo; (events featured in The African Christian Events Diary).</li>
        <li>By registering with TBN Africa, the &ldquo;advertiser&rdquo; (which is the person or company signing for a year&rsquo;s contract) accepts and agrees to be bound by these terms in full.</li>
        <li>The advertiser accepts and agrees with the aim and faith statement of TBN Africa as stated on&nbsp;<a href="https://www.tbninafrica.org/about">tbninafrica.org/about</a></li>
        <li>Information for an advertisement must be provided with at least 4 weeks&rsquo; notice of the event start date in order to be broadcast on television.</li>
        <li>The advertiser must check the correctness of each event and is responsible for the details supplied.</li>
        <li>TBN Africa do not endorse and are not responsible for any event advertised, or any subsequent changes or cancellations after the advertisement is broadcast.</li>
        <li>TBN Africa may, without any responsibility to the advertiser, reject, cancel or require any advertisement to be amended that it considers unsuitable or contrary to these terms. A refund will be given in the instance that your advert is not broadcast due to TBN Africa&nbsp;declining your event and that your credits remain unused.</li>
        <li>TBN Africa may refuse to broadcast any advertisement for any advertiser who has not paid any sums due. The advertiser will remain responsible for all outstanding charges.</li>
        <li>The broadcast of an advertisement by TBN in Afica does not mean that TBN Africa accepts the advertisement has been provided in accordance with these terms or that TBN Africa has waived its rights under these terms.</li>
        <li>The advertiser guarantees to TBN Africa that:
        <ol>
            <li>Any information supplied in connection with the advertisement is accurate, complete and true and not misleading.</li>
            <li>It has obtained the consent of any living person whose name is contained in any advertisement.</li>
            <li>The advertisements are legal, decent, honest and truthful, are not contrary to the provision of any applicable law, regulation or code of practice.</li>
        </ol>
        </li>
        <li>The advertiser guarantees to TBN Africa that any landing page and/or destination site linked to from the advert will:
        <ol>
            <li>be legal, decent, honest and truthful</li>
            <li>not be contrary to the provisions of any applicable law, regulation or code of practice</li>
            <li>not be libellous or obscene</li>
            <li>not infringe the rights of any person (including any person&rsquo;s intellectual property rights)</li>
            <li>not be prejudicial to the image or reputation of TBN Africa</li>
            <li>be free from viruses, adware, malware and/or bit torrents</li>
            <li>not cause an adverse effect on the operation of the website</li>
            <li>have a conspicuous privacy policy which complies with all applicable data protection and privacy laws, regulations and codes of practice.</li>
        </ol>
        </li>
    </ol>
    
    <h4>Disclaimer of Warranty</h4>
    
    <p>The contents of this site are provided &quot;as is&quot; without warranty of any kind, either expressed or implied, including but not limited to warranties of merchantability, fitness for a purpose and non-infringement.</p>
    
    <p>The owner of this site, the authors of these contents and in general anybody connected to this site in any way, from now on collectively called &quot;Providers&quot;, assume no responsibility for errors or omissions in these contents.</p>
    
    <p>The Providers further do not warrant, guarantee or make any representation regarding the safety, reliability, accuracy, correctness or completeness of these contents. The Providers shall not be liable for any direct, indirect, general, special, incidental or consequential damages (including -without limitation- data loss, lost revenues and lost profit) which may result from the inability to use or the correct or incorrect use, abuse, or misuse of these contents, even if the Providers have been informed of the possibilities of such damages. The Providers cannot assume any obligation or responsibility.</p>
    
    <p>The use of these contents is forbidden in those places where the law does not allow this disclaimer to take full effect.</p>
    
    <h4>Our Rights</h4>
    
    <p><strong>We reserve the right to:</strong></p>
    
    <ol>
        <li>modify or withdraw, temporarily or permanently, the Website (or any part of) with or without notice to you and you confirm that we shall not be liable to you or any third party for any modification to or withdrawal of the Website; and/or</li>
        <li>change these Conditions from time to time, and your continued use of the Website (or any part of) following such change shall be deemed to be your acceptance of such change. It is your responsibility to check regularly to determine whether the Conditions have been changed. If you do not agree to any change to the Conditions then you must immediately stop using the Website.</li>
        <li>We will use our reasonable endeavours to maintain the Website. The Website is subject to change from time to time. You will not be eligible for any compensation because you cannot use any part of the Website or because of a failure, suspension or withdrawal of all or part of the Website due to circumstances beyond our control.</li>
    </ol>
    
    <h4>Privacy Policy</h4>
    
    <p>We are committed to protecting your privacy. This privacy policy applies to all the web pages related to this website.</p>
    
    <p>All the information gathered in the online forms on the website is used to personally identify users that subscribe to this service. The information will not be used for anything other that which is stated in the Terms &amp; Conditions of use for this service. None of the information will be sold or made available to anyone.</p>
    
    <p>The Site may collect certain information about your visit, such as the name of the Internet service provider and the Internet Protocol (IP) address through which you access the Internet; the date and time you access the Site; the pages that you access while at the Site and the Internet address of the Web site from which you linked directly to our site. This information is used to help improve the Site, analyze trends, and administer the Site.</p>
    
    <p>We may need to change this policy from time to time in order to address new issues and reflect changes on our site. We will post those changes here so that you will always know what information we gather, how we might use that information, and whether we will disclose that information to anyone. Please refer back to this policy regularly. If you have any questions or concerns about our privacy policy, please send us an E-mail.</p>
    
    <p>By using this website, you signify your acceptance of our Privacy Policy. If you do not agree to this policy, please do not use our site. Your continued use of the website following the posting of changes to these terms will mean that you accept those changes.</p>
    
    <h4>Cookie/Tracking Technology</h4>
    
    <p>The Site may use cookie and tracking technology depending on the features offered. Cookie and tracking technology are useful for gathering information such as browser type and operating system, tracking the number of visitors to the Site, and understanding how visitors use the Site. Cookies can also help customize the Site for visitors. Personal information cannot be collected via cookies and other tracking technology; however, if you previously provided personally identifiable information, cookies may be tied to such information. Aggregate cookie and tracking information may be shared with third parties.</p>
    
    <h4>Third Party Links</h4>
    
    <p>In an attempt to provide increased value to our Users, we may provide links to other websites or resources. You acknowledge and agree that we are not responsible for the availability of such external sites or resources, and do not endorse and are not responsible or liable, directly or indirectly, for the privacy practices or the content (including misrepresentative or defamatory content) of such websites, including (without limitation) any advertising, products or other materials or services on or available from such websites or resources, nor for any damage, loss or offence caused or alleged to be caused by, or in connection with, the use of or reliance on any such content, goods or services available on such external sites or resources.</p>
    
    <h4>Order processing</h4>
    
    <p>Order processing will not begin until we receive a confirmed order and full payment.</p>
    
    <p><img alt="" src="/front/images/standard-bank.png" style="height:138px; width:205px" /></p>
    
    <p>Standard Bank</p>
    
    <p>South Africa</p>
    
    <h4>Payment Options and Pricing</h4>
    
    <p>All transactions will be processed in South African Rands (ZAR).</p>
    
    <p>TBN Broadcasting in Africa NPC endeavours to offer you competitive prices on current products;</p>
    
    <p>TBN Broadcasting in Africa NPC reserves the right to change pricing at any time without prior notice.</p>
    
    <h4>Credit Card</h4>
    
    <p>We accept MasterCard and Visa credit cards. If you do not have a credit card please utilise one of the other payment options.</p>
    
    <p><img alt="" src="" style="height:125px; width:180px" /></p>
    
    <h4>EFT (Electronic Fund Transfer)</h4>
    
    <p>One of the most widely used ways of sending money online. Our banking details are as follows:&nbsp;</p>
    
    <p><strong>TBN Broadcasting in Africa NPC</strong></p>
    
    <p><strong>Bank:</strong>&nbsp;The Standard Bank of South Africa<br />
    <strong>Account:&nbsp;</strong>331187728 (Current Account)<br />
    <strong>Branch:&nbsp;</strong>019205 Sandton<br />
    <strong>Swift:</strong>&nbsp;SBZAZAJJ</p>
    
    <p><strong>Ref:</strong>&nbsp;Name, Surname &amp; Cell Number</p>
    
    <h4>Direct Deposit</h4>
    
    <p>You may pay through a direct deposit. It&rsquo;s exactly the same as doing an EFT payment, except you&rsquo;ll have to go into your bank and physically make your direct deposit there. Please fax through your deposit slip to us on 0866027150 to ensure your payment is confirmed against your partner record.&nbsp;</p>
    
    <p>Banking Details:</p>
    
    <p><strong>TBN Broadcasting in Africa NPC</strong></p>
    
    <p><strong>Bank:</strong>&nbsp;The Standard Bank of South Africa<br />
    <strong>Account:&nbsp;</strong>331187728 (Current Account)<br />
    <strong>Branch:&nbsp;</strong>019205 Sandton<br />
    <strong>Swift:</strong>&nbsp;SBZAZAJJ</p>
    
    <p><strong>Ref:</strong>&nbsp;Name, Surname &amp; Cell Number<br />
    <br />
    For more information about other payment options, please <a href="">click here</a>.</p>
    
    <h4>Security Policy</h4>
    
    <p>Virtual Card Services process all credit card transactions. All credit card transactions are 128 bit Secure Socket Layers (SSL) encrypted. The company registration documents and the site&#39;s registered domain name are checked and verified by Thawte, ensuring the cardholder and merchant that nobody can impersonate VCS to obtain confidential information.</p>
    
    <p>Virtual Card Services is committed to providing secure online services. All encryption complies with international standards. Encryption is used to protect the transmission of personal information when completing online transactions. Virtual Card Services Internet servers are protected by firewalls and intrusion detection systems.</p>
    
    <p>The Merchant does not have access to credit details.</p>
    
    <p>Virtual Card Services continually reviews and enhances its security in line with technological changes.</p>
    
    <p><a href=""><img alt="" src="" style="height:125px; width:180px" /></a></p>
    
    <h4>Monitoring</h4>
    
    <p>We have the right, but not the obligation, to monitor any activity and content associated with the Website. We may investigate any reported violation of these Conditions or complaints and take any action that we deem appropriate (which may include, but is not limited to, issuing warnings, suspending, terminating or attaching conditions to your access and/or removing any materials from the Website).</p>
    
    <h4>Law</h4>
    
    <p>The Conditions will be exclusively governed by and construed in accordance with the laws of South Africa whose Courts will have exclusive jurisdiction in any dispute, save that we have the right, at our sole discretion, to commence and pursue proceedings in alternative jurisdictions.</p>
    
    <h4>Updating of these Terms and Conditions</h4>
    
    <p>We reserve the right to change, modify, add to or remove from portions or the whole of these Terms and Conditions from time to time. Changes to these Terms and Conditions will become effective upon such changes being posted to this Website. It is the User&rsquo;s obligation to periodically check these Terms and Conditions at the Website for changes or updates. The User&rsquo;s continued use of this Website following the posting of changes or updates will be considered notice of the User&rsquo;s acceptance to abide by and be bound by these Terms and Conditions, including such changes or updates.</p>
    
    <h4>Consent</h4>
    
    <p>I&nbsp;understand that all the designs and trademarks&nbsp;are registered&nbsp;to TBN Broadcasting in Africa NPC and hereby accept&nbsp;the terms and conditions. I undertake not to copy/duplicate the trademarks and designs&nbsp;directly or indirectly in anyway and understand the legal implications thereof. Should I be found to be in violation of this agreement I understand that I will be held liable for all legal costs incurred by TBN Broadcasting in Africa NPC for any civil action or any&nbsp;legal action deemed necessary against me.</p>
    
    <h4>Contact Details</h4>
    
    <p>Please <a href="/contact">click here</a> for a full list of contact details.</p>
              
                  </article>
              </div> <!-- /.modal-body -->
              <div class="modal-footer">
                  <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> <!-- /.modal -->
        
            <script>
                $(function(){
                    $('.ukced-terms').click(function(){
                        $('#TermsModal').modal();
                        return false;
                    });
                });
            </script>

  
  </div> <!-- /.container -->
</div> <!-- /.content -->
<%- include('../footer'); -%>
<%- include('../js'); -%>
<script>
  $('#register-form').validate({
  rules: {
      title: 'required',
      firstname: 'required',
      middlename: 'required',
      surname: 'required',
      address: 'required',
      state: 'required',
      lga: 'required',
      church: 'required',
      location:'required',
      resident_pst: 'required',
      min_name: 'required',
      chapter_location: 'required',
      password : {
          required: true,
      },
      confirm_password : {
          required: true,
          equalTo : "#password"
      },
      'terms1': {
          required: true,
                
       },
     'terms2': {
        required: true,
                
       },
      email: {
      required: true,
      email: true,
      },
      dob: {
        required: true,
        date: true
     },
  },
  messages: {
      title: 'Please Enter title',
      firstname: 'Please provide your First name',
      email: 'Please provide a valid email',
      middlename: 'Please provide your Middle name',
      surname: 'Please provide your Surname name',
      address: 'Please provide your Address',
      state: 'Please provide your state',
      lga: 'Provide your Local Government',
      church: 'Church chapter is required',
      resident_pst: 'Please provide your resident pastor',
      chapter_location: 'Please provide chapter location',
      min_name: 'Provide Ministry Name',
      contact_no: 'This field is required',
      location: 'Please provide your location',
      password: 'Password is required',
      confirm_password: 'Both password MUST match',
      'terms1': {
                required: "Please accept this condition",
            },
      'terms2':{
           required: "Please accept this condition",
        },
      dob:{
         required: "Date of Birth is required",
         date:"enter date only"
       },
  },
  errorPlacement: function(error, element) {
      error.appendTo(element.parent("div").parent("div") );
  },
  submitHandler: () => {
      const data = {
      "firstname": $("#firstname").val(),
      "lastname":  $("#email").val(),
      "title": $("#title").val(),
      "dateOfBirth": $("#dob").val(),
      "middlename": $("#middlename").val(),
      "location": $("#location").val(),
      "email": $("#email").val(),
      "address": $("#address").val(),
      "stateOfOrigin": $("#state").val(),
      "LGA": $("#lga").val(),
      "residentPastor": $("#resident_pst").val(),
      "chapterLocation": $("#chapter_location").val(),
      "organisationName": $("#min_name").val(),
      "password": $("#password").val()
   }
   if (terms1.checked==false || terms2.checked==false){
            displaymsg(text = "Please accept all terms and conditions")
      }else{
     jQuery.ajax({
            url: '/register',
            method: "POST",
            dataType : "json",
            data: JSON.stringify(data),
            "contentType": "application/json",
            success: function(response) { 
                console.log(response);
                if(response.status==200){
                    displaymsg(response.message, "alert-success")
                    $('#register-form')[0].reset();
                    window.location.href="/edit-profile";
                }
            },
            error:function(jqXhr){
                if(jqXhr.status ==400){
                    let responseText = jQuery.parseJSON(jqXhr.responseText);

                    if(responseText.indexOf('email') !== -1){
                    responseText[responseText.indexOf('email')] = "Email";
                    }
                    console.log(responseText)
                    let txt = `Already taken : ${responseText.join(', ')}`
                     displaymsg(txt)
                }
            }
        });
      }
     }
  });

  $(document).on('submit', '#register-form', (event) => {
  $(document).ready(function (){
  event.preventDefault();

  
});
});

</script>
<%- include('../../end'); -%>