<%- include('../header'); -%>

<div class="content">
    <div class="container">
  <div class="text-block">
      <div>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
          <div class="image-wrapper">
            <span>
                <img src="image.php/banner-1418664588584b.jpg?src=/images/static/banner-1418664588.jpg&amp;w=375&amp;h=375" class="img-responsive" alt="">
              <span>Intercession</span>
            </span>
          </div> <!-- /.image-wrapper -->
        </div> <!-- /.col -->
          <div class="col-xs-12 col-sm-8">
            <div class="clearfix static html">
                <h2>SALVATION PRAYER</h2>
                <blockquote>
                <p><strong>Jesus said: </strong>&nbsp;-I am the door, if anyone enters by me, he will be saved..." John 10:9. .</p>
                </blockquote>

                <blockquote>
                <p><strong>The Bible says:</strong>&nbsp;- "For whosoever shall call upon the name of the Lord shall be saved." Romans 10:13..</p>
                </blockquote>

                <h3>PRAY THIS PRAYER OF SALVATION!</h3>

                <p>"Dear Jesus, I believe in You. I believe You are the Son of God, that You died 
                    for my sins, and that You were buried and rose again for me. I admit I am a sinner that needs a savior. Forgive me for all my sins. Cleanse with the precious blood of Jesus. I confess You now as my Lord and Savior. I receive eternal life and the forgiveness of sins. Fill me with 
                    Your Holy Spirit now. Thank You, Jesus! In Jesus' Name, Amen."</p>

                <p>If you prayed the Prayer of Salvation, we would love to hear from you!</p>


                <p>James 4:2c You do not have, because you do not ask.</p>

                <p>There are many different kinds of prayer, such as:</p>
                <p>CALL a Prayer Partner at: +234 806 942 1324
                    E-MAIL US at: info@faithtofaithonline.org
                    OR WRITE to us at:
                    
                    Postal Address</p>
                <p>Renaissance Assembly
                    Plot 5 Sani Abacha Road, GRA Phase 3, Port Harcourt
                    Rivers State, Nigeria
                    
                    If you CALL, WRITE, or E-MAIL us, we will be glad to send you some materials 
                    that will help you grow in faith and strengthen your relationship with Christ.</p>    
            </div> <!-- /.static -->
                </div> <!-- /.col -->
            </div> <!-- /.row -->
            </div>
        </div> <!-- /.text-block -->
  
        <hr>


      <div class="sharethis-inline-share-buttons"></div>
  
  </div> <!-- /.container -->
</div> <!-- /.content -->
<%- include('../footer'); -%>
<%- include('../js'); -%>
<%- include('../../end'); -%>