<!DOCTYPE html>
<html lang="en_GB">

<!-- Mirrored from www.tbnafrica.org/vod/browse by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Nov 2020 02:07:10 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <title>TBN Africa On-Demand</title>
  <base >
  
  <meta name="description" content=" ">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <meta name="robots" content="all, index, follow">
  <meta name="googlebot" content="all, index, follow">
  
  <link rel="shortcut icon" href="/logo/250.png">
  <link rel="apple-touch-icon" href="/logo/250.png">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/vod/css/importfe94.css">
  <link rel="stylesheet" href="/vod/css/vod-basefe94.css">
  
  <style>
     header .topbar {
        background-color: rgb(72 52 7 / 75%);
    }
    a {
        color: #d5a30c;
    }
    a:hover {
        color: #d5a30c;
    }
    .button-red {
        background-color: #d5a30c;
        color: rgba(22, 17, 7, 0.75);
        border-color: #3f3106;
    }
    header .menu a.active {
        background-color:#d5a30c;
        color: rgba(22, 17, 7, 0.75);
        border-color: #4a3905;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #d5a30c;
        border: 1px solid rgba(255,255,255,.1);
        border-radius: 4px;
    }
    ::-webkit-scrollbar-track {
        background-color: #212936;
    }
    #Main .playlist-content .playlist-content--stacked > div > span.playlist-content--categories > a {
        display: inline-block;
        font-size: 11px;
        text-transform: uppercase;
        color: rgba(22, 17, 7, 0.75);
        background-color:#d5a30c;
        height: 22px;
        line-height: 22px;
        margin-left: 4px;
        padding: 0 6px;
        border-radius: 4px;
        text-decoration: none;
    }
    .slick-prev, .slick-next {
        background: #d5a30cc4;
    }
    #Main .playlist-title > a {
        color: #d5a30cc4;
    }
    .fsPlayer .movie-player--footer {
        color:  #d5a30cc4;
        background: rgba(0,0,0,.5);
        border-bottom: 2px solid  #d5a30cc4;
    }
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color:  #d5a30cc4;
        background-color: transparent;
        border-bottom: 3px solid  #d5a30cc4;
    }
    .fsPlayer--meta {
        color: #d5a30cc4;
    }
    .fsPlayer--series > a {
        background: #d5a30cc4;
        color: black;
    }
    .fsPlayer--controls > p {
        border: 1px solid #d5a30cc4;
    }
    .fsPlayer--controls > p > a {
        color: #d5a30cc4;
    }
    ul.series-list li.active > a:hover, ul.series-list li.active > a {
        border-color: #d5a30cc4;
        background: #d5a30cc4;
        color: black
    }
    ul.series-list li > a:hover {
        color:  #d5a30cc4;
        border-color:  #d5a30cc4;
    }
    .fsPlayer--controls > a:hover {
        color: #d5a30cc4;
    }
    .img-thumbnail {
        padding: 0pc;
        border: 0px solid #d5a30cc4;
    }
  </style>


</head>
<body class="browse vod-light">
	<header>
    	<div class="topbar">
            <div class="container">
                <div class="row-er">
                    <div class="col-er">
                        <a href="/" class="top-menu pull-left">
                        	<img src="/logo/logo-2.png" alt="">
                        </a>
                    	<a href="/" class="button button-red button-red--signin pull-right">
                        	<em class="fa fa-user-circle-o"></em>
                        	<span>Sign In</span>
                        </a>
                        <div class="menu">
                        	<div class="top-menu pull-right">
                                <a href="#" class="toggle-menu" onclick="return false;"><i class="material-icons">menu</i></a>
                            </div>
                        	<div class="toggle-menu">
                                <a href="/browse" class="active">Browse</a>
                                <a href="/webcast">Live</a>
                                <a href="/watch-later">Watch Later</a>
                                <a href="/favourites">Favourites</a>
                                <a href="/history">History</a>
                                <a href="/search">Search</a>
                                <span><i class="material-icons">close</i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>