<div class="col-xs-12 col-sm-6 col-md-4">
    <address>
        <h5>FAITH STATEMENT</h5>
        <div class="lrg"></div>
        <div class="lrg nowrap" id="e2"></div>
        <p>
            TBN Africa is based on Christian morals and principles and its content cannot 
            contradict what we stand for and bring our faith into disrepute. It is therefore imperative
            that all our content be in line with TBN's Faith Statement and should adhere to our Broadcasting code of conduct as follows:
        </p>
        <div class = "prog-form-items">
            <ul>
            <li>We believe that the Holy Bible is the inspired, infallible, 
                and authoritative source of Christian doctrine and precept.
            </li>
            <li>
                We believe that there is one God, eternally existent in three persons: Father, Son and Holy Spirit.
            </li>
            <li>
                We believe that the only hope for man is to believe in Jesus Christ, the virgin-born Son of God, 
                who died to take upon Himself the punishment for the sin of mankind, 
                and Who rose from the dead, so that by receiving Him as Saviour and Lord, man is redeemed by His Blood.
            </li>
            <li>
                We believe that Jesus Christ in person will return to earth in power and glory.
            </li>
            <li>
                We believe that the Holy Spirit indwells those who have received Christ for the purpose of 
                enabling them to live righteous and godly lives.
            </li>
            </ul>
        </div>
    </address>
    </div> <!-- /.col -->