<div class="container">
   <div class="featured-image">
   </div>  <!-- /.featured-image -->
 </div>
 <footer>
    <div class="sep"></div>
    <div class="container">
     <div class="menus">
       <div class="row">
         <div class="col-xs-6 col-sm-4 col-md-3">


           
           <nav>
             <h3>About</h3>
             <ul>
               <% allAbout.forEach(function (about,index){ %>
                <li><a href="/about/<%= about.code %>"><%= about.title %></a></li>
                <% }) %>
             </ul>
           </nav>
                       

         </div> <!-- /.col -->
         <div class="col-xs-6 col-sm-4 col-md-3">


           
           <nav>
             <h3>Schedule</h3>
             <ul>
               <li><a href="">Today</a></li>
               <li><a href="">This Month</a></li>
               <li><a href="">Highlights</a></li>
               <li><a href="">Download</a></li>
             </ul>
           </nav>
                       

         </div> <!-- /.col -->
         <div class="clearfix visible-xs-block"></div>
       
         <div class="clearfix visible-sm-block"></div>
         <div class="col-xs-6 col-sm-4 col-md-3">


           
           <nav>
             <h3>Production</h3>
             <ul>
               <li><a href="/show-proposal">Submit a show proposal</a></li>
               <li><a href="/music-video">Submit your music video</a></li>
               <li><a href="/become-programmer">Become a programmer</a></li>
               <li><a href="/vod">Browse Originals</a></li>
             </ul>
           </nav>
                       

         </div> <!-- /.col -->
         <div class="clearfix visible-xs-block"></div>
         <div class="col-xs-6 col-sm-4 col-md-3">


           
           <nav>
             <h3>Prayer</h3>
             <ul>
               <li><a href="/salvation-prayer">Salvation Prayer</a></li>
               <li><a href="/prayer-request">Prayer Requests</a></li>
             </ul>
           </nav>
                       

         </div> <!-- /.col -->
       </div> <!-- /.row -->
     </div> <!-- /.menus -->
     
     <div class="legal">
        <nav>
          <ul class="clearfix">
            <li><a href="">Terms &amp; Conditions</a></li>
            <li><a href="">Privacy &amp; Cookies Notice</a></li>
            <li><a href="">Contact Us</a></li>
         </ul>
       </nav>
     </div> <!-- /.legal -->
     
     <div class="copyright">
        <p>
        <a href="#">	&copy; 2020 Faith to Faith TV</a>
       </p>
     </div> <!-- /.copyright -->
     
   
   </div> <!-- /.container -->
 </footer>
 
     
     <div class="modal video-modal fade" id="VirginMedia" tabindex="-1" role="dialog" aria-labelledby="VirginMediaLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <h4 class="modal-title" id="VirginMediaLabel">Virgin Media</h4>
           </div> <!-- /.modal-header -->
           <div class="modal-body">
               <article class="static">
               
                   <h4 class="text-center">Why is TBN UK not on Virgin Media?</h4>
                   <p>We&rsquo;ve been in discussion with Virgin Media about TBN UK being one of the channels on their main platform. Despite our best efforts, Virgin continue to say they have no room for TBN UK, the UK's largest faith and family network, on their main platform.</p>
                   <p>If you would like to view TBN UK on the Virgin Media Platform, then please contact their communications team at: <a href="mailto:press@virginmedia.co.uk">press@virginmedia.co.uk</a></p>
                   <p>Or you can telephone the communications team at: +44 (0) 333 000 2900</p>
               
               </article>
           </div> <!-- /.modal-body -->
           <div class="modal-footer">
               <button type="button" class="btn-link pull-right" data-dismiss="modal">
                 Close
               </button>
           </div> <!-- /.modal-footer -->
         </div> <!-- /.modal-content -->
       </div> <!-- /.modal-dialog -->
     </div> <!-- /.modal -->
   
      <script>
        $(function(){
           $('.tune-in .vm > a').click(function(){
              $('#VirginMedia').modal();
              return false;
           });
        });
     </script>
 
     
     <div class="modal video-modal fade" id="SchedulePDF" tabindex="-1" role="dialog" aria-labelledby="SchedulePDFLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <h4 class="modal-title" id="SchedulePDFLabel">Download</h4>
           </div> <!-- /.modal-header -->
           <div class="modal-body">
               <article class="static text-center">
                  <p>Download our TBN UK programming schedule</p>
                  
                   <p><a href="files/uploads/files/TBN%20UK%20TV%20Guide%2026%20October%202020%20-%2029%20November%202020.pdf" class="btn btn-danger"><em class="fa fa-download"></em> &nbsp; 26 Oct 2020 &ndash; 29 Nov 2020</a></p>
                   
                   <p><a href="files/uploads/files/TBN%20UK%20TV%20Guide%2005%20October%202020%20-%2001%20November%202020.pdf" class="btn btn-danger"><em class="fa fa-download"></em> &nbsp; 05 Oct 2020 &ndash; 01 Nov 2020</a></p>
                   
                  
               </article>
           </div> <!-- /.modal-body -->
           <div class="modal-footer">
               <button type="button" class="btn-link pull-right" data-dismiss="modal">
                 Close
               </button>
           </div> <!-- /.modal-footer -->
         </div> <!-- /.modal-content -->
       </div> <!-- /.modal-dialog -->
     </div> <!-- /.modal -->