<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from www.tbnuk.org/home by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Nov 2020 11:31:08 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <title>Faith TV | Port Harcourt</title>
  <base >
  
  <meta name="description" content=".">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <meta name="robots" content="all, index, follow">
  <meta name="googlebot" content="all, index, follow">
  
  <link rel="shortcut icon" href="/logo/250.png">
  <link rel="apple-touch-icon" href="/logo/250.png">
  
  <link rel="stylesheet" href="/front/css/font-awesome.min.css">
  <link rel="stylesheet" href="/front/css/magnific-popup.css">
  <link rel="stylesheet" href="/front/css/bootstrap.min.css">
  <link rel="stylesheet" href="/front/css/bootflat.min.css">
  <link rel="stylesheet" href="/front/css/animate.css">
  <link rel="stylesheet" href="/front/css/main44be.css?v=7d610f59c06bc1aea3e09a9d5a445d61">
  <!-- #4f6180 -->
  <script src="/front/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  <script src="/front/js/vendor/jquery-1.11.1.min.js"></script>
  <script src="/front/js/vendor/viewportchecker.js"></script>
  <script src="/front/js/vendor/flexslider-1.8.min.js"></script>
  <script src="/front/js/vendor/slick.min.js"></script>
  <script src="/front/js/vendor/magnific-popup.min.js"></script>
  <script src="/front/js/vendor/jquery.newsTicker.min.js"></script>
  <script src="/front/js/vendor/bootstrap.min.js"></script>
  
  
</head>
<body>
  <header>

	
    <div class="tbnuk">
    
    	<div class="start">
        	<div class="container">
                <div class="row">
                	<div class="col-md-8 col-lg-9">
                    	<div class="logo">
                        	<a href="#"><img src="/logo/logo-2.png" alt="TBNUK"></a>
                        </div> <!-- /.logo -->
                    </div> <!-- /.col -->
                	<div class="col-md-4 col-lg-3 text-center">
                    	
                        <div class="donate-now">
                            <a href="">
                                <h3>GIVE</h3>
                            </a>
                        </div> <!-- /.donate-now -->
                        
                    </div> <!-- /.col -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.start -->
        
        <div class="tier-2">
        	<div class="container">
            	<div class="row">
                	<div class="col-md-4 col-lg-4">
                    	
                    	<div class="caption hidden-xs">
                        	UK&#039;s Premier Christian Television Channel                    	</div> <!-- /.caption -->
                    
                        <div class="social visible-xs">
                            
                            <a href="https://www.facebook.com/TBNUKtv" class="facebook-square" data-toggle="tooltip" data-placement="top" title="Facebook" rel="me">
                            	<em class="fa fa-fw fa-2x fa-facebook-square"></em>
                            </a>
                            <a href="https://twitter.com/TBNUKtv" class="twitter-square" data-toggle="tooltip" data-placement="top" title="Twitter" rel="me">
                            	<em class="fa fa-fw fa-2x fa-twitter-square"></em>
                            </a>
                            <a href="https://plus.google.com/+TbnukOrgTv/" class="google-plus-square" data-toggle="tooltip" data-placement="top" title="Google+" rel="publisher">
                            	<em class="fa fa-fw fa-2x fa-google-plus-square"></em>
                            </a>
                            <a href="https://vimeo.com/tbnuk" class="vimeo-square" data-toggle="tooltip" data-placement="top" title="Vimeo" rel="me">
                            	<em class="fa fa-fw fa-2x fa-vimeo-square"></em>
                            </a>
                            <a href="https://instagram.com/tbnuk/" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram" rel="me">
                            	<em class="fa fa-fw fa-2x fa-instagram"></em>
                            </a>
                            <a href="contact.html" class="envelope" data-toggle="tooltip" data-placement="top" title="Email">
                            	<em class="fa fa-fw fa-2x fa-envelope-square"></em>
                            </a>
                            
                        </div> <!-- /.social -->
                    
                    </div> <!-- /.col -->
                	<div class="col-md-5 col-lg-5">
                    
                    <div class="controls">
                        <span class="control-wrap">
                            <a href="" class="online-btn"><em class="fa fa-history"></em> On Demand</a>
                        </span>
                        <a href="/register">Register</a>
                        <a href="/login">Sign In</a>
                    </div> <!-- /.controls -->
                    
                    </div> <!-- /.col -->
                	<div class="col-md-3 col-lg-3">
                        <div class="search hidden-xs hidden-sm">
                            <form class="form-inline" role="form" action="" method="post">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon"><em class="fa fa-search"></em></div>
                                        <input type="text" name="q" class="form-control input-sm" id="sS" placeholder="ENTER SEARCH">
                                    </div>
                                </div>
                            </form>
                        </div> <!-- /.search -->
                    </div> <!-- /.col -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.tier-2 -->
    </div> <!-- /.tbnuk -->
                    
    <div class="social-fixed">
        
        <a href="https://www.facebook.com" class="facebook-square" data-toggle="tooltip" data-placement="left" title="Facebook" rel="me">
            <em class="fa fa-fw fa-2x fa-facebook-square"></em>
        </a>
        <a href="https://twitter.com" class="twitter-square" data-toggle="tooltip" data-placement="left" title="Twitter" rel="me">
            <em class="fa fa-fw fa-2x fa-twitter-square"></em>
        </a>
        <a href="https://plus.google.com" class="google-plus-square" data-toggle="tooltip" data-placement="left" title="Google+" rel="publisher">
            <em class="fa fa-fw fa-2x fa-google-plus-square"></em>
        </a>
        <a href="https://vimeo.com" class="vimeo-square" data-toggle="tooltip" data-placement="left" title="Vimeo" rel="me">
            <em class="fa fa-fw fa-2x fa-vimeo-square"></em>
        </a>
        <a href="https://instagram.com" class="instagram" data-toggle="tooltip" data-placement="left" title="Instagram" rel="me">
            <em class="fa fa-fw fa-2x fa-instagram"></em>
        </a>
        <a href="/contact" class="envelope" data-toggle="tooltip" data-placement="left" title="Email">
            <em class="fa fa-fw fa-2x fa-envelope-square"></em>
        </a>
        
    </div> <!-- /.social -->
    

    <div class="navi">
      <div class="container">
    	<nav class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand visible-xs visible-sm">Prayer Line +44 (0) 208 208 5688</span>
          </div>
      
          <div class="collapse navbar-collapse" id="navbar-collapse">
            
            <!-- Donate Button -->
            <!-- <a href="give.html" class="visible-lg btn btn-sm navbar-btn navbar-right btn-donate"><strong>Donate</strong></a> -->
            
            <ul class="nav navbar-nav navbar-right">

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  About                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="">About Us</a></li>
                </ul> <!-- /.dropdown-menu -->
              </li> <!-- /.dropdown -->

              <li class="navbar-text">|</li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  Schedule                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/dayview">Today</a></li>
                  <li><a href="/schedule">This Month</a></li>
                  <li><a href="/highlights">Highlights</a></li>
                  <li><a href="">Download</a></li>
                </ul> <!-- /.dropdown-menu -->
              </li> <!-- /.dropdown -->
              <li class="navbar-text">|</li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  Productions    
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/show_proposal">Submit a show proposal</a></li>
                  <li><a href="/music_video">Submit your music video</a></li>
                  <li><a href="/highlights">Browse originals</a></li>
                  <li><a href="/become_programmer">Become a programmer</a></li>
                </ul> <!-- /.dropdown-menu -->
              </li> <!-- /.dropdown -->
              <li class="navbar-text">|</li>
              <li><a href="/advertise">Advertise</a></li>
              <li class="navbar-text">|</li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  Prayer                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/salvation_prayer">Salvation prayer</a></li>
                  <li><a href="/prayer_request">Prayer request</a></li>

                </ul> 
              </li> 

              <li class="navbar-text">|</li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  Contact                  
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/testimony">Share your testimonies</a></li>
                  <li><a href="/contact">Contact Us</a></li>
                  <li><a href="/enquiries">Feedback</a></li>
                  <li><a href="/partnership">Partnership</a></li>

                </ul> <!-- /.dropdown-menu -->
              </li> <!-- /.dropdown -->

            </ul> <!-- /.nav -->
            
            <p class="navbar-text navbar-left hidden-xs hidden-sm" style="color: #FFF; margin-right: 10px;">Prayer +44 (0) 208 208 5688</p>
            
          </div> <!-- /.navbar-collapse -->
      	</nav> <!-- /.navbar -->
      </div><!-- /.container -->
    </div> <!-- /.navi -->
    
  </header>

  <div class="container">
    <div class="featured-image">
    </div>  <!-- /.featured-image -->
  </div>
   <!-- Header End -->